/** General **/
.block {border:1px solid #DDD;}
.block .header {border-bottom:1px solid #DDD;border-color: #dddddd;}
.block .header h2 {font-size:1em;}
.block .content {border-color: #dddddd;background-color:#FCFCFC;}
.block .content hr {border-top-color:#999999;}
.block .header .commands {font-size:0.9em;clear:both;}
.block .footer {font-size:0.9em;text-align:center;clear:both;}
.block.beingmoved {border-color: #f88;}

.block .header,
.block h2.header {text-align: left;margin:0;padding:4px;border-bottom-width: 0;}
.block .content h2 {text-align: left;margin:1.5em 0 0;padding:0;}
.block .content h3 {text-align: left;font-size: 11px;margin: 5px 0;}
.dir-rtl .block .content h3 {text-align: right;}
.block .content hr {height:1px;margin-top:4px;margin-bottom:4px;border:none;border-top:1px solid;padding:0;}
.block .content .head {margin-top: 10px;}
.block .header .icon.hide,
.block .header .icon.edit {margin-right: 6px;}

.block-region .hidden .header {border-bottom-color: #dddddd;}
.blockannotation {color:#aaa;}
.blockmovetarget {background-color: #fcc;border-color: #f88;}
.blockmovetarget:hover {background-color: #f88;border-color: #c00;}

/** Admin tree **/
.block_admin_tree .link.current {background-color:#EEEEEE;}
.block_admin_tree .link.criticalnotification {background-color:#FF6666;}
.block_admin_tree .link.hidden {color:#999999;}

/** Blog Tags **/
.block_blog_tags .official {color: #0000cc;}
.block_blog_tags .personal {color: #666699;}

/** Calendar Month **/
.block_calendar_month abbr {border-width:0;}
.block_calendar_month .eventnone a {text-decoration:none;color:black;cursor:text;}
.calendar-event-panel .yui3-widget-hd {background-image:url([[pix:theme|hgradient]]);background-repeat: repeat-x;background-color:#e1e1df;border-bottom:1px solid #ddd;}

/** Calendar Upcoming **/
.block_calendar_upcoming .event .date {text-align:right;}
.dir-rtl .block_calendar_upcoming .event .date {text-align:left;}

/** Course Overview **/
.block_course_overview .coursebox h3 {margin: 10px;}

/** Login Block **/
.block_login .loginform .c1 {margin:0.3em 0.8em;text-align:right;}
.block_login .loginform .c1.fld input {width:5em;}
.block_login .loginform .c1.fld label {padding-right: 4px;}
.block_login .loginform .c1.btn {text-align:center;}

/** Latest News Block **/
.block_news_items .newlink {text-align: center;}
.block_news_items .post .head {margin-top:10px;}
.block_news_items .post .head .date {font-style: italic;}
.block_news_items .post .info {text-align:center;}

/** Messages **/
.block_messages .content .list li.listentry {font-size:0.75em;}

/** Online Users **/
.block_online_users .content .list li.listentry {font-size:0.75em;}
.block_online_users .content .list li.listentry img {border:#888}

/** Quiz Results **/
.block_quiz_results {text-align: center;}
.block_quiz_results h1 {margin: 4px;font-size: 1.1em;}
.block_quiz_results table.grades {text-align: left;width: 100%;}
.block_quiz_results table.grades .number,
.block_quiz_results table.grades .grade {text-align: right;width: 10%;}
.block_quiz_results table.grades caption {margin: 1em 0px 0px 0px;border-bottom-width: 1px;border-bottom-style: solid;font-weight: bold;}

/** Recent Activity **/
.block_recent_activity .activitydate,
.block_recent_activity .activityhead {font-size:0.9em;}

/** RSS Client **/
.block_rss_client .image {text-align:center;}
.block_rss_client .list li {font-size:0.85em;border-top-color:#DDD;}
.block_rss_client .list li .description {color:#555555;font-size:0.8em;padding-left:1em;}

/** Site main menu **/
.block_site_main_menu .footer select,
.block_site_main_menu .footer input {font-size: 0.8em;}
