/*******************
General
*******************/
.container-fluid {
    max-width: 1245px; /*optimised for 1366px screen-res*/
}
body, h1, h2, h3, h4, h5, h6, p, ul, ol, dl, input, textarea {
    font-family: 'Arial', sans-serif;
    color: #4d4d4f;
}
a, a:link, a:visited {
    color: #b40a37;
}
a:hover, a:active, .breadcrumb a:hover {
    text-decoration: underline;
}
div, form, input, select, li {
    border-radius: 0 !important;
}

/********************************
Buttons, Tabs, Navs
********************************/
button, input.form-submit, input[type="button"], input[type="submit"], input[type="reset"] {
    border: none;
}
button, input input.form-submit, input[type="button"], input[type="submit"], input[type="reset"], input#id_submitbutton, input#id_submitbutton2, .path-admin .buttons input[type="submit"], td.submit input, .buttons > a {
    background-color: #b40a37;
    background-image: none;
    filter: none;
    color: #fff;
}
button:hover, input input.form-submit:hover, input[type="button"]:hover, input[type="submit"]:hover, input[type="reset"]:hover, input#id_submitbutton:hover, input#id_submitbutton2:hover, .path-admin .buttons input[type="submit"]:hover, td.submit input:hover, .buttons > a:hover {
    background-color: #c60b3d;
    background-image: none;
    filter: none;
}
.nav-tabs > li > a  {
    background-image: none !important;
    background: #e8e8e8;
    color: #333;
    border: 1px solid #ddd;
    border-bottom: none;
}
.nav-tabs > li > a:hover {
    background: #eee;
    border: 1px solid #ddd;
    border-bottom: none;
    text-decoration: none;
}

/********************************
Navigations Top Menu
********************************/
.navbar-inner {
    filter: none;
}
div#totaramenu ul li,
div#custommenu ul li {
    font-weight: 500;
}
div#totaramenu ul li a, 
div#custommenu ul li a {
    border-color: #ccc;
    color: #b40a37;
    padding: 12px;
}
div#totaramenu ul li a:hover,
div#custommenu ul li a:hover {
    background: #b40a37;
    color: #fff;
    filter: none;
}
div#custommenu ul li.selected a,
div#totaramenu ul li.selected a {
    background: #b40a37;
    color: #fff;
    border-radius: 0;
}
div#totaramenu ul ul, 
div#custommenu ul ul,
div#totaramenu ul li ul, 
div#custommenu ul li ul {
    box-shadow: none;
}
/* Navbar */
.navbar .nav > li > a {
    padding: 10px;
}
.navbar .nav.pull-right {
    margin-right: 0;
    padding: 0 10px;
    background: #ddd;
}
.navbar .nav li.dropdown > .dropdown-toggle .caret {
    border-top-color: #fff;
    margin-left: 5px;
}
.logininfo {
    padding-left: 0;
}
.user-picture img {
    border-radius: 50%;
    background-clip: padding-box;
}
.navbar-text {
    line-height: 1em;
    padding: 15px 0;
}

/********************************
Header
********************************/
#page-header {
    /*background: #fff url([[pix:theme|bg_header]]) no-repeat !important;*/
    background: #000;
}
#page-navbar-wrapper {
    /*border-top: 1px solid #eee;
    background: #fff url([[pix:theme|bg_dots]]) repeat-x !important;
    -webkit-box-shadow: 0 2px 25px -6px #bbb;
    -moz-box-shadow: 0 2px 25px -6px #bbb;
    box-shadow: 0 2px 25px -6px #bbb;*/
    background: #4b4b4b;
}
.logo {
    padding: 10px;
}
.bannertext {
    margin-top: -55px;
    padding-right: 15px;
}
.bannertext p {
    color: #172A48;
    font-size: 1.3em;
}
/* Breadcrumb */
.breadcrumb {
    color: #aaa;
}
.breadcrumb a {
    font-weight: 500;
    color: #fff;
}
.breadcrumb-nav {
    margin: 0;
}
.breadcrumb-button input[type="submit"] {
    padding: 2px 5px;
}

/********************************
Blocks
********************************/
.block {
    box-shadow: none;
    border: none;
    background: none;
    margin-bottom: 15px;
}
.block .header, .block-region .hidden .header {
    background: #f5f5f5;
    background-image: none;
    border-bottom: 1px solid #ddd;
}
.block .header .title h2 {
    color: #333;
    font-weight: 500 !important;
}
.block .content {
    background: #f5f5f5;

}
.block_settings hr {
    display: none;
}

/*Block - Region Pre and Post */
.block .header, 
.block-region .hidden .header {
    background: #808285;
    background-image: none;
}
.block .header .title h2, 
.block .header .title h2 {
    color: #fff;
}

/*** Block - Settings, Navigation ***/
.block_navigation.block .header .title h2,
.block_settings.block .header .title h2 {
    padding: 7px 10px;
    border: none;
    font-weight: 500 !important;
}
.block_settings.block .header,
.block_settings.block.hidden .header,
.block_navigation.block .header, 
.block_navigation.block.hidden .header {
    /*border-bottom: 1px solid #fff;*/
    padding: 0;
}
.block_navigation.block .header .block_action,
.block_settings.block .header .block_action {
    padding: 10px 7px;
}
.block_navigation.block .content,
.block_settings.block .content {
    padding: 9px;
}

/* Block - Navigation */
.block_navigation.block .header, 
.block_navigation.block.hidden .header {
    background: #0091c8 !important;
}
.block_navigation.block .content {
    background: #eaf9ff !important;
}
.block_navigation.block .content li {
    line-height: 160%;
}

/* Block - Settings and Admin */
.block_settings.block .header,
.block_settings.block.hidden .header{
    background: #4b4b4b !important;
}
.block_settings.block .content {
    background: #f5f5f5 !important;
}
.block_settings.block .content li {
    line-height: 150%;
}

.block_navigation.block .content li p.navigation_node,
.block_navigation .content .block_tree .tree_item.branch,
.block_settings .content .block_tree .tree_item.branch,
.block_navigation .content .block_tree .collapsed .tree_item.branch, 
.block_settings .content .block_tree .collapsed .tree_item.branch {
    background-position: 2px center !important;
}
.block_navigation .content .block_tree li.item_with_icon > p img, 
.block_settings .content .block_tree li.item_with_icon > p img {
    top: 6px;
    left: 0;
}
.block_settings.block .footer {
    padding: 10px !important;
}

/********************************
Tiles
********************************/
#tileoutlinearea h3.sectionname {
    color: #fff !important;
    font-size: 1.7em;
}
.tileoutlinearea {
    background-position: center center !important;
    padding: 20px 0;
    border-radius: 0 !important;
}
.tileoutlinecontent {
    background: none;
    width: 90%;
}
.tileoutlinecontent h1,
.tileoutlinecontent  p {
    color: #fff;
}
.tile a {
    color: #fff;
}
.tiletitle, .tile a:hover .tiletitle {
    background-color: transparent;
    text-decoration: none !important;
}
#tileoutlinearea .activityinstance a {
    color: #fff;
}
#tileoutlinetiles a {
    border-radius: 0 !important;
}

#page-course-view-tiles #region-main {
    /*padding: 15px;*/
}
/* Topics view */
.tiletopicnav ul li a {
    color: #b40a37 !important;
    border: 1px solid #b40a37;
}
.tiletopicnav ul li a:hover, 
.tiletopicnav ul li a:active {
    background-color: #b40a37 !important; 
    color: #fff !important;
}
.tiletopicnav ul li a.current {
    background: #000 !important;
    border: 1px solid #000;
}

/********************************
Docking
********************************/
#dockeditempanel {
    z-index: 10;
}
#dockeditempanel .dockeditempanel_hd {
    background: #ddd;
}
#dockeditempanel .dockeditempanel_hd h2 {
    color: #000;
}
#dockeditempanel .dockeditempanel_bd {
    background: #fff;
}
#dockeditempanel .dockeditempanel_content {
    box-shadow: none;
}

/********************************
Footer
********************************/
#page-footer {
    background: #6e645a;
}
#page-footer, #page-footer p {
    color: #fff;
}
#page-footer a {
    color: #fff;
}

/********************************
Home page
********************************/
#region-main .sitetopic .buttons img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}
#region-main > div > br {
    display: none;
}

/********************************
Login page
********************************/
#page-login-index .navbar-inner {
    display: none;
}
body#page-login-index {
    background: #fff url([[pix:theme|bg_login]]) no-repeat bottom right;
}
#page-login-index .logo {
    padding: 20px;
}
#page-login-index .bannertext {
    margin-top: -68px !important;
}
#page-login-index #page-content {
    background: none;
}
#page-login-index .loginbox {
    background: #fff;
    background: url([[pix:theme|bg_login_transp]]) repeat;
    -webkit-box-shadow: -1px 0px 16px 0px rgba(50, 50, 50, 0.10);
    -moz-box-shadow: -1px 0px 16px 0px rgba(50, 50, 50, 0.10);
    box-shadow: -1px 0px 16px 0px rgba(50, 50, 50, 0.10);
}
#page-login-index .loginpanel {
    border: none;
}
#page-login-index .loginbox h2 {
    font-size: 2em;
}
#page-login-index input[type="text"],
#page-login-index input[type="password"] {
    width: 8em;
}
.loginbox .loginform .form-label {
    width: 40%;
}
.loginbox .loginform .form-input {
    width: 58% !important;
}

/********************************
Responsive
********************************/
@media (max-width: 767px) { 
    #page {
        padding: 15px;
    }
    .bannertext {
        margin: 0;
    }
    .user-picture {
        padding-right: 0 !important;
    }
    #page-footer .year {
        display: none;
    }
    #page-footer #footnotewrapper {
        text-align: center;
    }
    #page-footer .logos-footer,
    #page-footer .helplink    {
        float: none;
    }
    #page-footer .text-left {
        width: 100%;
        padding-left: 0;
        text-align: center;
        background: none;
    }
    #page-course-view-tiles #region-main {
        padding: 0 0 10px 0;
    }
    /*Login page*/
    #page-login-index .bannertext {
        margin-top: -48px !important;
        margin-bottom: -16px !important;
    }
    #page-login-index .loginpanel {
        max-width: 90%;
    }
}