.container-fluid {
    max-width: 1280px; /*optimised for 1366px screen-res*/
}

/*******************
General
*******************/
* {
    font-family: "Lucida Sans Unicode","Lucida Grande","Trebuchet MS",arial,helvetica,sans-serif !important;
}
body {
    margin-bottom: 0;
    color: #4d4d4f;
    background: #f2f2f2;
}
a, a:link, a:visited {
    color: #14315C;
}
.breadcrumb {
    color: #888;
}
.breadcrumb a {
    color: #4d4d4f;
}
#page-navbar .breadcrumb-button {
    margin-right: 0;
}
div, span, button, input {
    border-radius: 0 !important;
}
#page {
    padding: 5px 5px 110px;
}
#page-content {
    background: none;
}

/********************************
Buttons, Tabs, Navs
********************************/
button, input.form-submit, input[type="button"], input[type="submit"], input[type="reset"] {
    border: none;
}
button, input input.form-submit, input[type="button"], input[type="submit"], input[type="reset"], input#id_submitbutton, input#id_submitbutton2, .path-admin .buttons input[type="submit"], td.submit input, .buttons > a {
    background-color: #ff0000;
    filter: none;
    color: #fff;
    border-radius: 4px !important;
}
button:hover, input input.form-submit:hover, input[type="button"]:hover, input[type="submit"]:hover, input[type="reset"]:hover, input#id_submitbutton:hover, input#id_submitbutton2:hover, .path-admin .buttons input[type="submit"]:hover, td.submit input:hover, .buttons > a:hover {
    background-color: #14315C;
    filter: none;
}
.navbar .nav.pull-right {
    margin-right: 0;
    padding: 0 10px;
    background: #none;
}
.navbar .nav li.dropdown > .dropdown-toggle .caret {
    border-top-color: #fff;
    margin-left: 5px;
}
.nav-tabs > li > a  {
    background: #000;
    color: #fff;
    border: 1px solid #ddd;
    border-bottom: none;
}
.nav-tabs > li > a:hover {
    background: #ff0000;
    border: 1px solid #ddd;
    border-bottom: none;
    text-decoration: none;
}
.mform fieldset.collapsible legend a.fheader {
    color: inherit;
}
/********************************
Navigations Top Menu
********************************/
.navbar-inner,
.navbar-fixed-top .navbar-inner .container-fluid {
    background: #434343;
    filter: none;
}
.navbar .nav > li > a {
    padding: 5px;
}
.navbar-fixed-top .navbar-inner, 
.navbar-static-top .navbar-inner {
    box-shadow: none;
}
div#totaramenu ul li,
div#custommenu ul li {
    font-weight: 500;
}
div#totaramenu ul li a, 
div#custommenu ul li a {
    border-color: #666;
    color: #fff;
    padding: 7px 14px;
    background: transparent;
}
div#totaramenu ul li a:hover, 
div#custommenu ul li a:hover {
    background: #1F529D;
    color: #fff;
    filter: none;
}
div#custommenu ul li.selected a, 
div#totaramenu ul li.selected a {
    background: #fff;
    color: #000;
    border-radius: 0;
}
div#totaramenu ul ul, 
div#custommenu ul ul {
    box-shadow: none;
}

/********************************
Header
********************************/
#page-header {
    /*background: #fff url([[pix:theme|bg_header]]) no-repeat center right;
    background-size: 30%;*/
    background: #fff;
}
#page-navbar-wrapper {
    border-top: 1px solid #e4e3de;
    background: none;
}
.logininfo {
    padding-left: 0;
    font-size: 1em;
    color: #777;
}
.logininfo a {
    color: #fff;
}
.logininfo a:hover {
    text-decoration: underline;
}
.user-picture img {
    /*border-radius: 50%;
    background-clip: padding-box;*/
}
.navbar-text {
    line-height: 1em;
    padding: 9px 0;
}
.logo {
    padding: 15px;
}
.bannertext {
    padding: 0 10px;
    margin-top: -88px;
}

/********************************
Blocks
********************************/
.block {
    box-shadow: none;
    border: none;
    background: #efefef;
    margin-bottom: 15px;
}
.block .header, 
.block-region .hidden .header {
    background: #A79587 !important;
}
.block .header .title h2, 
.block h3.main {
    padding: 2px 6px;
    color: #fff;
    font-weight: 100;
}
.block .content {
    background: #fff;
}
.block_settings hr {
    display: none;
}
.block .header .title .commands, 
.block_adminblock .content, 
.block .footer {
    background: rgba(255, 255, 255, 0.8);
}
/*
.block_navigation.block .header, 
.block_navigation.block .hidden .header,
.block_settings.block .header, 
.block_settings.block .hidden .header {
    background: #1F529D !important;
}
*/
/* Forum */
.forumpost {
    background: #fff;
}
.forumpost .content .posting {
    overflow: hidden;
}

/* Courses View */
.coursebox,
.coursebox:hover {
    background: #fff !important;
}

/********************************
Topics Format
********************************/
.topics .current {
    border: 2px solid #14315c !important;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.course-content ul li.section.main {
    background: #fff;
}

/********************************
Tiles Format
********************************/
#tileoutlinearea h3.sectionname {
    color: #fff !important;
    font-size: 1.7em;
}
.tileoutlinearea {
    background-position: top right !important;
    background-size: auto !important;
    background-color: #00457c !important;
    border-radius: 0 !important;
    min-height: 250px;
    padding: 0;
}
.tileoutlinecontent {
    background: rgba(0, 0, 0, 0.7);
    /*background: transparent url([[pix:theme|bg_tile0_corner]]) no-repeat bottom right;*/
    width: 35%;
    padding: 20px 25px !important;
    min-height: 210px;
}
.tileoutlinecontent h1,
.tileoutlinecontent  p {
    color: #fff;
}
.tile a {
    color: #fff;
}
.tiletitle, 
.tile a:hover .tiletitle {
    /*background: #14315c url([[pix:theme|bg_corner]]) no-repeat right 21px !important;*/
    background-color: rgba(0, 0, 0, 0.8);
}
#tileoutlinearea .activityinstance a {
    color: #fff;
}
#tileoutlinetiles a {
    border-radius: 0 !important;
}
.tilecontentarea.section.current {
    border: 2px solid #00693e !important;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.tile.currentsection a {
    border: 2px solid #14315c !important;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
#tile7 a {background-image: url([[pix:theme|tilebg_7]]);}
#tile8 a {background-image: url([[pix:theme|tilebg_8]]);}
#tile9 a {background-image: url([[pix:theme|tilebg_9]]);}
#tileall a {background-image: url([[pix:theme|tilebg_all]]);}


/* Topics view */
.tiletopicnav ul li a {
    color: #4d4d4f !important;
    border: 1px solid #939ba0;
    background: #fff !important;
}
.tiletopicnav ul li a:hover, 
.tiletopicnav ul li a:active {
    background-color: #000 !important; 
    color: #fff !important;
}
.tiletopicnav ul li a.current {
    background: #00693e !important;
    border: 1px solid #00693e;
}
.tiletopicnav .currentsection {
    border: 2px solid #00693e !important;
}

/********************************
Front Page
********************************/
#custom-homepage-regions #region-hero-unit {
    padding: 0;
}

/********************************
Docking
********************************/
body.has_dock div#dock {
    background: #fff;
    border-right: 1px solid #ddd;
}
#dock .dockedtitle {
    width: 45px;
    margin: 0 0 1px 0 !important;
}
#dock .dockedtitle, 
#dock .dockedtitle:hover,
#dock .dockedtitle:focus {
    background: #ff0000 !important;
    border: none !important;
}
#dock .dockedtitle h2 {
    color: #fff;
}
#dockeditempanel .dockeditempanel_hd {
    background: #ddd;
}
#dockeditempanel .dockeditempanel_hd h2 {
    color: #000;
}
#dockeditempanel .dockeditempanel_bd {
    background: #fff;
}

/********************************
Footer
********************************/
#page-footer {
    background: #000;
    color: #aaabab !important;
    border: none;
}
#page-footer p {
    color: #aaabab;
}
#page-footer a {
    color: #808181;
}
#page-footer .footer-logo {
    float: right;
}
#page-footer .footnote,
#page-footer .helplink,
#page-footer .footer-text {
    float: left;
}
#page-footer .helplink {
    
}

/********************************
Home page
********************************/
#region-main .sitetopic .buttons img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}
#region-main > div > br {
    display: none;
}
/* Custom homepage */
#custom-homepage-regions #region-hero-unit img,
#custom-homepage-regions img {
    border-radius: 0;
}
#custom-homepage-regions #region-hero-unit {
    padding-bottom: 20px;
}

/********************************
Custom Login
********************************/
body#page-login-index {
    background: #fff url([[pix:theme|bg_login]]) no-repeat bottom right;
    background-size: cover;
}
#page-login-index .navbar-inner {
    display: none;
}
#page-login-index #page {
    margin: 3% auto !important;
}
#page-login-index #page-content {
    background: transparent;
}
#page-login-index .loginbox {
    border: none;
    background: rgba(255, 255, 255, 0.9);
    width: 100%;
    max-width: 90%;
    /* single column - disabled self rego */
    /*width: 40%;
    max-width: 475px;*/
}
#page-login-index .loginbox .subcontent {
    padding: 0;
}
#page-login-index .loginpanel {
    max-width: 100%;
}
#page-login-index .loginbox .loginform .form-input { 
    width: auto;
    float: none;
    text-align: center;
    padding-bottom: 10px;
}
#page-login-index #page-navbar-wrapper {
    display: none;
}
#page-login-index #region-main {
    padding: 55px 10px;
}
#page-login-index .loginbox h2 {
    font-size: 2.5em;
    padding: 0;
    color: #ff0000;
    line-height: 1em;
}
#page-login-index .loginbox .loginform .form-input input {
    padding: 1em;
    width: 100%;
    max-width: 80%;
    display: block;
}
#page-login-index #loginbtn {
    padding: 0.6em 5em;
}
.loginbox h2, .loginbox .subcontent {
    text-align: left;
}

/* Androgogic Catalogue */
#page-blocks-androgogic_catalogue-index .visibleifjs {
    display: inline-block;
}

#page-login-index input[type="text"] {
    background: white url([[pix:theme|username]]) right no-repeat;
}
#page-login-index input[type="password"] {
    background: white url([[pix:theme|password]]) right no-repeat;
}

/********************************
Responsive
********************************/
@media (max-width: 767px) { 
    .user-picture {
        padding-right: 0 !important;
    }
    .logo img {
        width: 100%;
        max-width: 449px;
    }
    .bannertext {
        float: none;
        display: table;
        margin: -15px 0 15px 0;
        background-position: center center;
        background-size: 30%;
        width: 100%;
        padding: 0;
    }
    .bannertext img {
        width: 100%;
        max-width: 166px;
    }
    #page {
        padding: 10px 10px 130px !important;
    }
    #page-course-view-tiles #region-main {
        padding: 0 0 10px 0;
    }
    #page-footer .year,
    #page-footer .footnote {
        float: none;
        text-align: center;
        padding: 0;
    }
    /*Login page*/
    #page-login-index #region-main {
        padding: 0;
    }
    #page-login-index .loginbox {
        width: 100%;
        float: none;
        border: 1px solid #ddd;
        padding: 0;
        max-width: 95%;
    }
    #page-login-index .loginbox .loginform .form-input input {
        width: 100%;
        max-width: 100%;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding: 1.5em;
    }
    .loginbox.twocolumns .signuppanel, 
    .loginbox.twocolumns .signuppanel, 
    .loginbox.twocolumns .loginpanel, 
    .loginbox.twocolumns .loginpanel {
        padding: 3%;
    }
    /* Tile */
    .tileoutlinecontent {
        width: auto;
    }
    /* Custom homepage */
    #custom-homepage-regions #region-hero-unit {
        display: none;
        padding-bottom: 10px;
    }
    #custom-homepage-regions div.content p {
        padding-bottom: 0;
    }
    #custom-homepage-regions #region-two-cols-wrap .column {
        width: 100%;
    }
    /* Footer */
    #page-footer .footer-logo {
        float: none;
        text-align: center;
        margin-top: 10px;
    }
    #page-footer .footnote,
    #page-footer .helplink,
    #page-footer .footer-text {
        float: none;
    }
}

@media (max-width: 979px) { 
    body.has_dock {
        margin-left: 44px;
    }
    #block-region-side-pre, #block-region-side-post {
        padding: 0;
    }
}

/* Custom CSS Settings
-------------------------*/
[[setting:customcss]]