.container-fluid {
    max-width: 1280px; /*optimised for 1366px screen-res*/
}

/*******************
General
*******************/
* {
    /*font-family: "Lucida Sans Unicode","Lucida Grande","Trebuchet MS",arial,helvetica,sans-serif !important;*/
}
body {
    margin-bottom: 0;
    color: #454545;
    background: #f2f2f2;
    font: 82.5%/1.5 Arial,Helvetica,sans-serif;
}
a, a:link, a:visited {
    color: #201061;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Lucida Sans Unicode", "Lucida Grande", "Trebuchet MS", Arial, Helvetica, sans-serif;
}
.breadcrumb {
    color: #888;
}
.breadcrumb a {
    font-weight: 100;
}
#page-navbar .breadcrumb-button {
    margin-right: 0;
}
div, span, button, input {
    border-radius: 0 !important;
}
#page {
    padding: 5px 5px 110px;
}
#page-content {
    background: none;
}
#region-main > div {
    background: #fff;
    box-shadow: 0 -1px 8px rgba(0, 0, 0, 0.05);
    padding: 15px;
    width: 100%;
    display: table;
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
}

/********************************
Buttons, Tabs, Navs
********************************/
button, input.form-submit, input[type="button"], input[type="submit"], input[type="reset"] {
    border: none;
}
button, input input.form-submit, input[type="button"], input[type="submit"], input[type="reset"], input#id_submitbutton, input#id_submitbutton2, .path-admin .buttons input[type="submit"], td.submit input, .buttons > a {
    filter: none;
    color: #fff;
    border-radius: 4px !important;
    background: url([[pix:theme|bg_btn]]) repeat-x;
}
button:hover, input input.form-submit:hover, input[type="button"]:hover, input[type="submit"]:hover, input[type="reset"]:hover, input#id_submitbutton:hover, input#id_submitbutton2:hover, .path-admin .buttons input[type="submit"]:hover, td.submit input:hover, .buttons > a:hover {
    background-color: #cb101b;
    filter: none;
}
.navbar .nav.pull-right {
    padding: 0 10px;
    /*background: rgba(255, 255, 255, 0.2);*/
}
.navbar .nav li.dropdown > .dropdown-toggle .caret {
    border-top-color: #fff;
    margin-left: 5px;
}
.nav-tabs > li > a {
    background: #454545;
    color: #fff;
    border: 1px solid #ddd;
    border-bottom: none;
}
.nav-tabs > li > a:hover {
    background: #5b5d5b;
    border: 1px solid #ddd;
    border-bottom: none;
    text-decoration: none;
}
.mform fieldset.collapsible legend a.fheader {
    color: inherit;
}
/********************************
Navigations Top Menu
********************************/
.navbar-inner,
.navbar-fixed-top .navbar-inner .container-fluid {
    /*background: #fff url([[pix:theme|bg_menu]]) repeat-x;*/
    background: #ba006e;
}
.navbar-inner {
    /*border-top: 1px solid #6e0041 !important;*/
}
.navbar .nav > li > a {
    padding: 5px;
}
.navbar-fixed-top .navbar-inner, 
.navbar-static-top .navbar-inner {
    box-shadow: none;
}
div#totaramenu ul li,
div#custommenu ul li {
    font-weight: 500;
}
div#totaramenu ul li a, 
div#custommenu ul li a {
    border-color: #6e0041;
    color: #fff;
    padding: 7px 14px;
    background: transparent;
    font-weight: bold;
}
div#totaramenu ul li a:hover, 
div#custommenu ul li a:hover {
    background: #f2f2f2;
    filter: none;
}
div#custommenu ul li.selected a, 
div#totaramenu ul li.selected a {
    background: #f2f2f2;
    color: #000;
    border-radius: 0;
}
div#totaramenu ul ul, 
div#custommenu ul ul {
    box-shadow: none;
}

/********************************
Header
********************************/
#page-header {
    background: #1d1879 url([[pix:theme|bg_pageheader]]) no-repeat top right;
    /*background-size: 30%;
    background: #17135f;*/
}
#page-navbar-wrapper {
    background: #f2f2f2;
}
.logininfo {
    padding-left: 0;
    font-size: 0.8em;
    color: #ccc;
}
.logininfo a {
    color: #fff;
}
.user-picture img {
    /*border-radius: 50%;
    background-clip: padding-box;*/
}
.navbar-text {
    line-height: 1em;
    padding: 9px 0;
}
.logo {
    padding: 40px 15px;
}
.bannertext {
    padding: 0 10px;
    margin-top: -88px;
}

/********************************
Blocks
********************************/
.block {
    margin-bottom: 15px;
    background: white;
    padding: 3px;
}
.block .header, 
.block-region .hidden .header {
    /*background: #e8e8e3;*/
    background: url([[pix:theme|bg_header_common]]) repeat-x;
}
.block .header .title h2, 
.block h3.main {
    padding: 2px 6px;
    color: #000;
    font-size: 105%;
}
.block .content {
    background: #fff;
}
.block_settings hr {
    display: none;
}
.block .header .title .commands, 
.block_adminblock .content, 
.block .footer {
    background: rgba(255, 255, 255, 0.8);
}

.block_navigation.block .header, 
.block_navigation.block .hidden .header,
.block_settings.block .header, 
.block_settings.block .hidden .header {
    /*background: url([[pix:theme|bg_header]]) repeat-x;*/
    background: #00ad7d;
}
.block_navigation.block .header .title h2,
.block_settings.block .header .title h2 {
    color: #fff;
}

/* Forum */
.forumpost {
    background: #fff;
    box-shadow: 0 -1px 8px rgba(0, 0, 0, 0.05);
}
.forumpost .content .posting {
    overflow: hidden;
}

/* Courses View */
.coursebox,
.coursebox:hover {
    background: #fff !important;
}

/********************************
Topics Format
********************************/
.topics .current {
    border: 2px solid #14315c !important;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.course-content ul li.section.main {
    background: #fff;
    box-shadow: 0 -1px 8px rgba(0, 0, 0, 0.05);
}

/********************************
Tiles Format
********************************/
#page-course-view-tiles #region-main,
#page-course-view-tiles #region-main > div {
    padding: 10px;
}
#tileoutlinearea h3.sectionname {
    color: #fff !important;
    font-size: 1.7em;
}
.tileoutlinearea {
    background-position: top right !important;
    background-size: auto !important;
    background-color: #00457c !important;
    border-radius: 0 !important;
    min-height: 250px;
    padding: 0;
}
.tileoutlinecontent {
    background: rgba(0, 0, 0, 0.7);
    /*background: transparent url([[pix:theme|bg_tile0_corner]]) no-repeat bottom right;*/
    width: 35%;
    padding: 20px 25px !important;
    min-height: 210px;
}
.tileoutlinecontent h1,
.tileoutlinecontent  p {
    color: #fff;
}
.tile a {
    color: #fff;
}
.tiletitle, 
.tile a:hover .tiletitle {
    /*background: #14315c url([[pix:theme|bg_corner]]) no-repeat right 21px !important;*/
    background-color: rgba(0, 0, 0, 0.8);
}
#tileoutlinearea .activityinstance a {
    color: #fff;
}
#tileoutlinetiles a {
    border-radius: 0 !important;
}
.tilecontentarea.section.current {
    border: 2px solid #00693e !important;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.tile.currentsection a {
    border: 2px solid #14315c !important;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
#tile7 a {background-image: url([[pix:theme|tilebg_7]]);}
#tile8 a {background-image: url([[pix:theme|tilebg_8]]);}
#tile9 a {background-image: url([[pix:theme|tilebg_9]]);}
#tileall a {background-image: url([[pix:theme|tilebg_all]]);}


/* Topics view */
.tiletopicnav ul li a {
    color: #4d4d4f !important;
    border: 1px solid #939ba0;
    background: #fff !important;
}
.tiletopicnav ul li a:hover, 
.tiletopicnav ul li a:active {
    background-color: #000 !important; 
    color: #fff !important;
}
.tiletopicnav ul li a.current {
    background: #00693e !important;
    border: 1px solid #00693e;
}
.tiletopicnav .currentsection {
    border: 2px solid #00693e !important;
}

/********************************
Front Page
********************************/
#custom-homepage-regions #region-hero-unit {
    padding: 0;
}

/********************************
Docking
********************************/
body.has_dock div#dock {
    background: #fff;
    border-right: 1px solid #ddd;
}
#dock .dockedtitle {
    width: 45px;
    margin: 0 0 1px 0 !important;
}
#dock .dockedtitle, 
#dock .dockedtitle:hover,
#dock .dockedtitle:focus {
    background: #00ad7d !important;
    border: none !important;
}
#dock .dockedtitle h2 {
    color: #fff;
}
#dockeditempanel .dockeditempanel_hd {
    background: #ddd;
}
#dockeditempanel .dockeditempanel_hd h2 {
    color: #000;
}
#dockeditempanel .dockeditempanel_bd {
    background: #fff;
}

/********************************
Footer
********************************/
#page-footer {
    background: #3e3d3d;
    border: none;
}
#page-footer .footer-logo {
    float: right;
}
#page-footer .footnote,
#page-footer .footer-text {
    float: left;
}

/********************************
Home page
********************************/
#region-main .sitetopic .buttons img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}
#region-main > div > br {
    display: none;
}
/* Custom homepage */
#custom-homepage-regions #region-hero-unit img,
#custom-homepage-regions img {
    border-radius: 0;
}
#custom-homepage-regions #region-hero-unit {
    padding-bottom: 20px;
}
#custom-homepage-regions .column img {
    width: auto;
}
#custom-homepage-regions div.content p {
    padding: 0;
    margin: 0;
}
#custom-homepage-regions .column a {
    display: block;
    padding: 15%;
    text-align: center;
}
/* My Courses */
#custom-homepage-regions .column .mycourses a {
    background: #ba006e;
}
#custom-homepage-regions .column .mycourses a:hover {
    background: #c90077;
}
/* Find Course */
#custom-homepage-regions .column .findcourse a {
    background: #fdb823;
}
#custom-homepage-regions .column .findcourse a:hover {
    background: #fdc140;
}
/********************************
Custom Login
********************************/
body#page-login-index {
    background: #ba006f url([[pix:theme|bg_login]]) no-repeat bottom right;
    background-size: auto;
}
body#page-login-index,
body#page-login-index li {
    color: #454545;
}
#page-login-index #region-main > div {
    background: none;
    box-shadow: none;
    padding: 0;
}
#page-login-index .navbar-inner {
    display: none;
}
#page-login-index #page {
    margin: 3% auto !important;
}
#page-login-index #page-content {
    background: transparent;
}
#page-login-index .loginbox {
    border: none;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0 -1px 8px rgba(0, 0, 0, 0.05);
    width: 100%;
    max-width: 90%;
}
#page-login-index .loginbox .subcontent {
    padding-top: 0;
}
#page-login-index .loginpanel {
    max-width: 100%;
}
#page-login-index #page-navbar-wrapper {
    display: none;
}
#page-login-index #region-main {
    padding: 55px 10px;
}
#page-login-index .loginbox h2 {
    font-size: 2em;
    padding: 0;
}
#page-login-index .loginbox .loginform .form-input { 
    width: auto;
    float: none;
    text-align: center;
    padding-bottom: 10px;
}
#page-login-index .loginbox .loginform .form-input input {
    padding: 1em;
    width: 100%;
    max-width: 80%;
    display: block;
}
#page-login-index #loginbtn,
#page-login-index input[type="submit"]{
    padding: 0.6em 5em;
}
.loginbox .guestsub, 
.loginbox .forgotsub, 
.loginbox .potentialidps {
    margin: 5px 0;
}
.loginbox h2, .loginbox .subcontent {
    text-align: left;
}

/* Androgogic Catalogue */
#page-blocks-androgogic_catalogue-index .visibleifjs {
    display: inline-block;
}


/********************************
Responsive
********************************/
@media (max-width: 767px) { 
    div#totaramenu ul li a, 
    div#custommenu ul li a {
        /*color: #000;*/
    }
    .user-picture {
        padding-right: 0 !important;
    }
    .logo img {
        width: 100%;
        max-width: 285px;
    }
    #page {
        padding: 10px 10px 130px !important;
    }
    #page-course-view-tiles #region-main {
        padding: 0 0 10px 0;
    }
    #page-footer .year,
    #page-footer .footnote {
        float: none;
        text-align: center;
        padding: 0;
    }
    /*Login page*/
    #page-login-index #region-main {
        padding: 0;
    }
    #page-login-index #page {
        margin: 0 !important;
        padding: 0 !important;
    }
    #page-login-index .loginbox {
        width: 100%;
        max-width: 100%;
        float: none;
        padding: 15px 15px 50px 15px;
        margin: 0 auto;
        -moz-box-sizing: border-box; 
        -webkit-box-sizing: border-box; 
        box-sizing: border-box;
    }
    #page-login-index .loginbox .loginform .form-input input {
        width: 80%;
        max-width: 100%;
    }
    #page-login-index .loginpanel,
    #page-login-index .signuppanel {
        padding: 0;
    }
    #page-login-index #region-main > div {
        padding: 0;
    }
    /* Tile */
    .tileoutlinecontent {
        width: auto;
    }
    /* Custom homepage */
    #custom-homepage-regions #region-hero-unit,
    #custom-homepage-regions div.content p    {
        padding-bottom: 10px;
    }
    #custom-homepage-regions #region-two-cols-wrap .column {
        width: 100%;
    }
    #custom-homepage-regions .column a { 
        padding: 10%;
    }
    #custom-homepage-regions .column img {
        max-width: 55%;
    }
    /* Footer */
    #page-footer .footer-logo {
        float: none;
        text-align: center;
        margin-top: 10px;
    }
    #page-footer .footnote,
    #page-footer .helplink,
    #page-footer .footer-text {
        float: none;
    }
}

@media (max-width: 979px) { 
    body.has_dock {
        margin-left: 44px;
    }
    #block-region-side-pre, #block-region-side-post {
        padding: 0;
    }
    .user-picture {
        margin-top: 0;
    }
    .navbar .nav.pull-right {

    }
}
