/* css for full text search page*/

.smalltree {
  text-align:center;
  color:#666;
  margin: 20px 0;
 }  

input[type=button ], input[type=submit] { cursor:pointer!important; }

.search_wrapper .felement { width: 100%!important; margin:0!important; text-align:center!important; }

.search_wrapper input.full_search {
border-radius: 6px;
background: #fefefe;
padding: 15px 5px 15px 40px!important;
border: 5px solid #D5E8F4!important;
-webkit-appearance: none;
width: 80%;
background-image: url(../pix/search2.png)!important;
background-repeat: no-repeat!important;
background-position: 5px 6px!important;
margin: 28px auto;
}

.ftext input.full_search {
background-image: url(../pix/search2.png)!important;
background-repeat: no-repeat!important;
background-position: 5px 6px!important;
border: 3px solid #D5E8F4!important;
}

::-webkit-input-placeholder {
   color: #ccc;
}

:-moz-placeholder { /* Firefox 18- */
   color:#ccc;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #ccc;  
}

:-ms-input-placeholder {  
   color: #ccc;  
}

.rmc_logo { background-image: url(../pix/vet_logo.png);
background-repeat: no-repeat;
background-position: 5px 6px; 
width: 336px; height: 111px;
margin:0 auto;
}
fieldset { border: none!important; }
.search_wrapper fieldset div { text-align: center; }

.rmc_help, .rmc_advanced_help { font-size: 12px; text-align: center; margin:20px auto!important; color:#666; }
#fgroup_id_buttonar { display: none; }

.adv_but { text-align: center; padding: 0 0 20px 0!important; }
.adv_but a { color: #000; text-decoration: none; font-size: 14px; padding:10px;
border: 5px solid #D5E8F4;
border-radius: 6px; }

.keyword {  margin: 0 auto; width: 70%; }

.keyword input[type=text] { border-radius: 6px;
background: #fefefe;
padding: 10px;
border: 5px solid #ddd!important; width: 470px!important; }
.keyword .fitemtitle { width:100%!IMPORTANT; text-align: left!important; }
.keyword .fitemtitle label { display: block; margin: 10px 0; font-weight: bold; color: #666; }
.keyword .felement { margin-left:0!important; }


.keyword_wrapper .fitemtitle { padding: 0 10px; }
.keyword #fitem_id_search_string {  }
.keyword #fitem_id_search_string, .keyword_2 { background: #eee; padding: 10px; border-radius: 4px; border: 1px solid #ccc; }
.keyword_wrapper #fitem_id_search_string { padding:0!important; width:100%!important; }
.keyword_wrapper fieldset > div { margin:0!important; }
.keyword_wrapper input[type=text] { margin:5px 0 10px  10px; }

.keyword select { width: 500px; border: 5px solid #ddd; padding: 10px; border-radius: 6px; }

.keyword fieldset { position: relative; padding:0!important; }
.keyword fieldset #fitem_id_submitbutton { position: absolute; bottom: 20px; left: 13px; width: auto!important; }
.keyword fieldset #fitem_id_submitbutton input[type=submit] {  background:#222; color:#fff; padding:7px 14px; border: none; border-radius: 4px;  }

.keyword_2 { padding: 10px 10px 50px 10px!important; }

.details_main h1 { font-weight: normal; font-size: 25px; color:#777; margin:10px 0; padding:0;  }
.thumb_large { margin-bottom: 10px; }
.thumb_large img { width: 300px; border: 5px solid #eee; }
.table_desc  { width: 500px; }
.table_desc  td { padding: 10px; border: 1px solid #ccc;  }
.table_desc  td:first-child { width:100px; background:#eee; border-bottom: 1px solid #ccc; font-weight: bold; color:#777;}
.table_desc  td:last-child {  color:#777; }
.details_main input[type=button], .details_main input[type=submit] { background:#293542; color:#fff; padding:7px 14px; border: none; border-radius: 4px; float : left; margin : 2px;  }


#search_bar { background:#667b92; color:#fff; font-weight: bold; padding: 5px 10px; }



.result_label { background:#F5F5F5; color:#314357;  padding: 6px 0.5em 6px 8px;;
border-bottom: 1px solid #F0F3F4;
border-top: 1px solid #F0F3F4;  }

.k-grid-content table { width: 100%;   border-collapse: separate; color:#314357; font-size: 12px;
  border-spacing: 0 10px;
  *border-collapse: expression('separate', cellSpacing = '10px');}
.k-grid-content table thead {  display: none; }
.k-grid-content table td {  border-bottom: 1px dashed #D7D7D7; position: relative; color:#444; padding:0;}
.k-grid-content table td:first-child { width:130px; vertical-align:middle; border-right:0; text-align:center; }
.k-grid-content table td:first-child .thumb_crop { height: 100px; overflow: hidden; line-height: 100px; }
.k-grid-content table td:first-child img { width: 100px; }
.k-grid-content table td:last-child { border-left:0; }
.data_guide { padding: 2px 0; color:#314357; }
.data_guide span form { display: inline; }
.data_guide span form input[type=submit] { background:#293542; color:#fff; padding:2px 7px; border: none; border-radius: 4px;  }

.k-grid-content table  h1 { padding:0; margin: 0; font-weight: bold; font-size: 15px;  }
.k-grid-content table  h1 a { color:#456983; text-decoration: none; }
.k-grid-content table  h1 a:hover { text-decoration: underline; }
.k-grid-content table  h4 { margin: 6px 0; }
span.time_stamp {color: #606060;
font-size: 11px;
padding-left: 0.7em;
font-weight: bold;
  }

.k-grid-content table p { margin:0; padding:0; line-height: 20px; }

.red { background: red; }
.green { background:#8EDC0C; }


#buy_popup table { width: 500px; border-collapse: separate;
  border-spacing: 0 2px;
  *border-collapse: expression('separate', cellSpacing = '2px'); }
#buy_popup table td { border: 1px solid #ddd; padding: 10px; }
#buy_popup table td:first-child { font-weight: bold; background:#eee; font-size: 12px; width: 150px;  }
#buy_popup table td:last-child { font-size: 12px; color:#555;  background: none!important; }
.nobor { border: none!important; }
#buy_popup table td input[type=button] { background:#293542; color:#fff; padding:5px 10px; border: none; border-radius: 4px;   }

.search_content { position: relative; padding: 0 0 0 27px; min-height: 100px; }
.search_content span.color  { height: 100%; width: 20px;  position: absolute; left:-2px; top:0;   }

.search_area #fitem_id_search_string { display: inline-block;  width: auto!important; }
.search_area #fitem_id_search_fts { width: auto!important; display: inline-block;  }
.search_area #fitem_id_search_string .felement, #fitem_id_search_fts .felement { width: auto!important; margin:0!important; *padding:0!important;  }
.search_area #fitem_id_search_string input[type=text]{ border-radius: 6px;
background: #fefefe;
padding: 8px;
width: 517px;
border: 3px solid #D5E8F4;
background-position: 5px 6px; }

.search_area #fitem_id_search_fts  input[type=submit] { background:#00A550; color:#fff; padding:9px 14px; border: none; border-radius: 4px; padding:10px 14px 9px 14px\0; margin-bottom:1px\0;   }
.search_area #fitem_id_search_fts  input[type=button] { background:#00A550; color:#fff; padding:9px 14px; border: none; border-radius: 4px; padding:10px 14px 9px 14px\0; margin-bottom:1px\0;   }
.keyword_2 input[type=button] { background:#00A550; color:#fff; padding:9px 14px; border: none; border-radius: 4px; padding:10px 14px 9px 14px\0; margin-bottom:1px\0;   }

.search_result1 {  background-color:#00B9FC;  }
.search_result2  {  background-color:#FEE300; }
.search_result3  {  background-color:#8EDC0C; }
.search_result4  {  background-color:#F69010; }
.search_result5  {  background-color:#FD0100; }
.search_result6  {  background-color:#F33389; }

.details_main { color:#314357; font-size: 12px; }
.details_main p { padding: 3px 0; margin:0; }
.details_main h1 {padding: 0.5em 0 0.2em; font-weight: normal;  color: #314357; font-size: 22px; margin:0;}
.details_main div { margin: 5px 0; }

.ajax_overlay {}
  /* background: url("../pix/spinner_squares_circle.gif") no-repeat center center transparent !important; */
.ajax_loader {width:100%!important;height:100%!important;}
.ajax_loader_image {
  padding-left: 50% !important; 
  padding-top: 32% !important;}
#preloader {
  width : 100% !important;
  height: 100% !important;
}

.k-grid-content table {width : 100% !important;}

#mform1 { text-align: center !important;}

.view-con-button {background-color:  #00A550 !important;}

.search-title-align { text-align: left !important; }
.rmc-advsearch-legend { float:left;
  width:25%;
  margin-right:0.5em;
  padding-top:0.2em;
  text-align:right;
  font-weight:bold; 
 }
 
 .rmc-advsearch-fieldset {
 	border-width: 2px !important;
 	border : 3px !important;
 }

.keyword_2 select {width : 72% !important; }
 
 /*#mform1 .keyword_2 {width: 60% !important; float ; left;}
 
 .keyword_2 select {width : 72% !important; }
 #search-result #search-result-message {width : 88% !important; } 
 */
 .box { text-align : center !important; border: none !important; }


