/**
 * Required to undo YUI resets that override input size, margin, etc.
 */
input[type=text],input[type=password],textarea{width:auto;}
input[type=checkbox],input[type=radio]{margin-right: 7px;}

/* Fix for YUI overriding styles */
strong{font-style:inherit;}em{font-weight:inherit;}

/**
 * General
 */
th,
td,
a img {border-width:0;}
acronym,
abbr {cursor: help;}
.dir-ltr,
.mdl-left,
.dir-rtl .mdl-right {text-align: left;}
.dir-rtl,
.mdl-right,
.dir-rtl .mdl-left {text-align: right;}
#add,
#remove,
.centerpara,
.mdl-align {text-align: center;}
a.dimmed,
a.dimmed:link,
a.dimmed:visited,
a.dimmed_text,
a.dimmed_text:link,
a.dimmed_text:visited,
.dimmed_text,
.dimmed_text a,
.dimmed_text a:link,
.dimmed_text a:visited,
.usersuspended,
.usersuspended a,
.usersuspended a:link,
.usersuspended a:visited,
.dimmed_category,
.dimmed_category a,
.dimmed_category a:link,
.dimmed_category a:visited {
    color: #AAA;
}
.activity.label .dimmed_text {
    opacity: 0.5;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
}
.unlist,
.unlist li,
.inline-list,
.inline-list li,
.block .list,
.block .list li,
.sitetopic .section li.activity,
.course-content .section li.activity,
.sitetopic .section li.movehere,
.course-content .section li.movehere,
.tabtree li {list-style: none;margin:0;padding:0;}

.course-content .current {background:#E3E3E3;}

.inline,
.inline-list li {display: inline;}
.notifytiny {font-size:0.7em;}
.notifytiny li,
.notifytiny td {font-size:100%;}
.red,
.notifyproblem {color:#660000;}
.green,
.notifysuccess {color:#006600;}
.reportlink {text-align:right;}
a.autolink.glossary:hover {cursor: help;}
/* Block which is hidden if javascript enabled, prevents flickering, visible when JS from footer used! */
.collapsibleregioncaption {white-space: nowrap;}
.collapsibleregioncaption img {vertical-align: middle;}
.jsenabled .hiddenifjs {display: none;}
.visibleifjs {display: none;}
.jsenabled .visibleifjs {display: inline;}
.jsenabled .collapsibleregion {overflow:hidden;}
.jsenabled .collapsed .collapsibleregioninner {visibility: hidden;}
.yui-overlay .yui-widget-bd {background-color:#FFEE69;border:1px solid #A6982B;border-top-color: #D4C237;color:#000000;left:0;padding:2px 5px;position:relative;top:0;z-index:1;}
.clearer {background:transparent;border-width:0;clear:both;display:block;height:1px;margin:0;padding:0;}
.clearfix:after {clear: both;content: ".";display: block;height: 0;min-width: 0;visibility: hidden;}
.bold,
.warning,
.errorbox .title,
.pagingbar .title,
.pagingbar .thispage,
#site-news-forum h2,
#frontpage-course-list h2,
#frontpage-category-names h2,
#frontpage-category-combo h2 {font-weight: bold;}
img.resize {height: 1em;width: 1em;}
.block img.resize,
.breadcrumb img.resize {height: 0.9em;width: 0.8em;}

/* Icon styles */
img.icon {height:16px;vertical-align:text-bottom;width:16px;padding-right: 6px;}
.dir-rtl img.icon {padding-left: 6px; padding-right: 0; }
img.iconsmall {height:12px;margin-right:3px; margin-left: 3px;vertical-align:middle;width:12px;}
img.iconhelp, .helplink img {height:16px; padding-left:3px;vertical-align:text-bottom;width:16px;}
.dir-rtl img.iconhelp, .dir-rtl .helplink img {padding-right: 3px; padding-left: 0; }
img.iconlarge {height: 24px; width: 24px; vertical-align:middle;}
img.iconsort { vertical-align: text-bottom; padding-left: .3em; margin-bottom: .15em;}
.dir-rtl img.iconsort { padding-right: .3em; padding-left: 0;}
img.icontoggle {height:17px;vertical-align:middle;width:50px;}
img.iconkbhelp {height:17px;width:49px;}
img.icon-pre, .dir-rtl img.icon-post { padding-right: 3px; padding-left: 0; }
img.icon-post, .dir-rtl img.icon-pre { padding-left: 3px; padding-right: 0; }

.generalbox {border:1px solid;}
.boxaligncenter {margin-left:auto;margin-right:auto;}
.boxalignright {margin-left:auto;margin-right:0;}
.boxalignleft {margin-left:0;margin-right:auto;}
.boxwidthnarrow {width: 30%;}
.boxwidthnormal {width: 50%;}
.boxwidthwide {width: 80%;}
.buttons .singlebutton,
.buttons .singlebutton form,
.buttons .singlebutton div {display: inline;}
.buttons .singlebutton input {margin:20px 5px;}
.headermain {font-weight:bold;}
#maincontent {display: block;height: 1px;overflow: hidden;}
img.uihint {cursor: help;}
#addmembersform table {margin-left: auto;margin-right: auto;}
.formtable tbody th,
.generaltable th.header {vertical-align: top;}
.flexible th {white-space: nowrap;}
.cell {vertical-align: top;}
img.emoticon {vertical-align: middle;width: 15px;height: 15px;}
form.popupform,
form.popupform div {display: inline;}
.arrow_button input {overflow:hidden;}
.action-icon img.smallicon { vertical-align: text-bottom; margin-left: .45em;}
.dir-rtl .action-icon img.smallicon { margin-right: .45em; margin-left: 0;}
h1 img.icon,
h1 img.iconhelp,
h2 img.icon,
h2 img.iconhelp,
h3 img.icon,
h3 img.iconhelp,
h4 img.icon,
h4 img.iconhelp,
h5 img.icon,
h5 img.iconhelp,
h6 img.icon,
h6 img.iconhelp {
    vertical-align: middle;
    padding: 4px;
}

/** The 1-pixel padding is there to avoid phantom scroll bars on OS X (FF, Safari and Chrome)**/
.no-overflow {overflow:auto;padding-bottom:1px;}
.pagelayout-report .no-overflow {overflow:visible;}
.no-overflow > .generaltable {margin-bottom:0;}
.ie6 .no-overflow {width:100%;}

/** IE6 float + background bug solution **/
.ie6 li.section {line-height:1.2em;width:100%;}

/**
 * Accessibility features
 */
/*Accessibility: text 'seen' by screen readers but not visual users. */
.accesshide {position:absolute;left:-10000px;font-weight:normal;font-size:1em;}
.dir-rtl .accesshide {top:-30000px;left:auto;}
span.hide,
div.hide {display:none;}
.invisiblefieldset {display:inline;border-width:0;padding:0;margin:0;}
/*Accessibility: Skip block link, for keyboard-only users. */
a.skip-block,
a.skip {position: absolute;top: -1000em;font-size: 0.85em;text-decoration:none;}
a.skip-block:focus,
a.skip-block:active,
a.skip:focus,
a.skip:active {position: static;display: block;}
.skip-block-to {display: block;height: 1px;overflow: hidden;}
/* Accessibility: only certain fonts support Unicode chars like &#x25BA; in IE6 */
.arrow,
.arrow_button input {font-family: Arial,Helvetica,Courier,sans-serif;}

/**
 * Header
 */
.headermain {float:left;margin:15px;font-size:2.3em;}
.headermenu {float:right;margin:10px;font-size:0.8em;text-align:right;}
#course-header {clear:both;}

/**
 * Navbar
 */
.navbar {clear:both;overflow:hidden;}
.ie6 .navbar {overflow:hidden;height:100%;}
.breadcrumb {float:left;}
.navbutton {text-align:right;}
.breadcrumb ul {padding:0;margin:0;text-indent:0;list-style:none;}
.navbutton {float: right;}
.breadcrumb li,
.navbutton div,
.navbutton form {display:inline;}

/**
 * Footer
 */
#page-footer {text-align:center;font-size:0.9em;}
#page-footer .homelink {margin: 1em 0;}
#page-footer .homelink a {padding-left:1em;padding-right:1em;}
#page-footer .logininfo,
#page-footer .sitelink,
#page-footer .helplink {margin:0px 10px;}
#page-footer .performanceinfo {text-align:center;margin:10px 20%;}
#page-footer .performanceinfo span {display:block;}
#page-footer .validators {margin-top:40px;padding-top:5px;border-top: 1px dotted gray;}
#page-footer .validators ul {margin:0px;padding:0px;list-style-type:none;}
#page-footer .validators ul li {display:inline;margin-right:10px;margin-left:10px;}

#page-footer .performanceinfo .cachesused {margin-top:1em;}
#page-footer .performanceinfo .cachesused .cache-stats-heading {font-weight:bold;display:block;}
#page-footer .performanceinfo .cachesused .cache-definition-stats {margin:0.3em;padding:0px;border:1px solid #999;display:inline-block;vertical-align:top;min-height:4em;color:#000;background-color:#eee;}
#page-footer .performanceinfo .cachesused .cache-definition-stats span {padding-left:0.5em;padding-right:0.5em;display:block;}
#page-footer .performanceinfo .cachesused .cache-definition-stats .cache-definition-stats-heading {background-color:#eee;}
#page-footer .performanceinfo .cachesused .cache-store-stats {text-indent: 1em;}
#page-footer .performanceinfo .cachesused .cache-store-stats.nohits {background-color:#ffd3d9;}
#page-footer .performanceinfo .cachesused .cache-store-stats.lowhits {background-color:#f3f2aa;}
#page-footer .performanceinfo .cachesused .cache-store-stats.hihits {background-color:#e7f1c3;}
#page-footer .performanceinfo .cachesused .cache-total-stats {display:block;font-weight:bold;margin-top:0.3em;}

#course-footer {clear:both;}

/**
 * Tabs
 */
.tabtree {position:relative;margin-bottom:3.5em;}
.tabtree li {display:inline;}
.tabtree ul {margin:5px;}
.tabtree ul li.here ul {position:absolute;top:100%;width:100%;}
.tabtree ul li.here .empty {display:none;}

/**
 * Mforms
 */
.mform fieldset {border:1px solid;}
.mform fieldset fieldset {border-width:0;}
.mform fieldset legend {font-weight:bold;margin-left:0.5em;padding: 0 0.35em;}
.mform fieldset div {margin:10px;margin-top:0;}
.mform fieldset div div {margin:0;}
.mform fieldset .advancedbutton {text-align:right;}
.mform fieldset.hidden {border-width:0;}
.mform fieldset.group {margin-bottom: 0}
.mform fieldset.error {border: 1px solid #A00;}
.collapsible-actions {display: none;}
.jsenabled .collapsible-actions {text-align: right; display: block;}
.dir-rtl .collapsible-actions {text-align: left;}
.collapseexpand {background: url([[pix:t/collapsed]]) left center no-repeat; padding-left: 18px;}
.dir-rtl .collapseexpand {background-image: url([[pix:t/collapsed_rtl]]); background-position: right center; padding-left: 0; padding-right: 18px;}
.collapse-all,
.dir-rtl .collapse-all {background-image: url([[pix:t/expanded]]);}
.mform fieldset legend {padding: 0 0.35em;}
.mform fieldset.collapsible legend a.fheader {padding-left: 18px; background: url([[pix:t/expanded]]) left center no-repeat;}
.mform fieldset.collapsed legend a.fheader {background-image: url([[pix:t/collapsed]]);}
.jsenabled .mform fieldset.collapsed {border-width: 1px 0 0 1px; padding: 0; border-color: transparent;}
.jsenabled .mform fieldset.collapsed div.fcontainer {display: none;}
.mform .fitem {width:100%;overflow:hidden;margin-top:5px;margin-bottom:1px;clear:right;}
.jsenabled .mform .containsadvancedelements .advanced {display: none;}
.mform .containsadvancedelements .advanced.show {display: block;}
.mform .fitem .fitemtitle {width:15%;text-align:right;float:left;}
.dir-rtl .mform .fitem .fitemtitle {text-align:left;}
.mform .fitem .fitemtitle div {display: inline;}
.mform .fitem .felement {border-width: 0;width:80%;margin-left:16%;}
.mform .fitem fieldset.felement {margin-left:15%;padding-left:1%;margin-bottom:0}
.mform .error,
.mform .required {color:#A00;}
.mform span.error {display: inline-block;padding: 4px;margin-bottom: 4px;background-color: #F2DEDE;border: 1px solid #EED3D7;}
.mform .required .fgroup span label {color:#000;}
.mform .fdescription.required {color:#A00;text-align:right;}
.dir-rtl .mform .fdescription.required {text-align:left;}
.mform .fpassword .unmask {display:inline;margin-left:0.5em;}
.mform .ftextarea #id_alltext {width: 100%;}
.mform .fitem fieldset.fscheduler { margin: 0px; }
.mform ul.file-list {padding:0;margin:0;list-style:none;}
.mform label { display: inline-block; }
.mform .iconhelp { margin-left: 4px; }
.dir-rtl .mform .iconhelp { margin-right: 4px; }
.mform label .req,
.mform label .adv {cursor: help;}
.mform .fcheckbox input {margin-left: 0;}
.mform .fcheckbox label,
.mform .fduration label,
.mform .fitem fieldset.fgroup label,
.mform .fradio label,
.mform fieldset.fdate_selector label,
.mform fieldset.fdate_time_selector label { display: inline; float: none; margin-left: .3em; vertical-align: text-bottom;}
.dir-rtl .mform .fcheckbox label,
.dir-rtl .mform .fduration label,
.dir-rtl .mform .fitem fieldset.fgroup label,
.dir-rtl .mform .fradio label,
.dir-rtl .mform fieldset.fdate_selector label,
.dir-rtl .mform fieldset.fdate_time_selector label {margin-right: .3em; margin-left: 0;}
.mform .ftags label.accesshide {display: block;position: static;}
.mform .ftags select {margin-bottom: 0.7em;min-width: 22em;}
.mform .moreless-toggler {background: url([[pix:t/more]]) left center no-repeat; padding-left: 16px;}
.dir-rtl .moreless-toggler {padding-left: 0; padding-right: 16px; background-position: right center; }
.mform .moreless-less {background-image: url([[pix:t/less]]);}
.mform .helplink img { margin: 0 0 0 .45em; padding: 0;}
.dir-rtl .mform .helplink img { margin: 0 .45em 0 0; padding: 0;}
.mform legend .helplink img { margin-right: .2em; }
.dir-rtl .mform legend .helplink img { margin: 0 .45em 0 .2em; }
.urlselect label,
.singleselect label { margin-right: .3em; }
.dir-rtl .urlselect label,
.dir-rtl .singleselect label { margin-left: .3em; margin-right: 0; }

.dir-rtl .mform fieldset legend {margin-right:0.5em; margin-left: 0;}
.dir-rtl .mform fieldset.collapsible legend a.fheader {background-position: right center; padding-right: 18px; padding-left: 0;}
.dir-rtl .mform fieldset.collapsed legend a.fheader {background-image: url([[pix:t/collapsed_rtl]]); }
.dir-rtl.jsenabled .mform fieldset.collapsed {border-width: 1px 1px 0 0; }
.dir-rtl .mform .fitem fieldset.felement {padding-right: 1%;margin-right: 15%;}

.mform .btn-cancel, .mform .btn-cancel:active, .mform .btn-cancel[disabled] { background-color: transparent; background-image: none; box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none; -o-box-shadow: none; -ms-box-shadow: none; margin-left: .5em;}
.mform .btn-cancel { border-color: transparent; border-radius: 0 0 0 0; -moz-border-radius: 0 0 0 0; -webkit-border-radius: 0 0 0 0; -o-border-radius: 0 0 0 0; -ms-border-radius: 0 0 0 0; color: #0088CC; cursor: pointer; }
.mform .btn-cancel:hover, .mform .btn-cancel:focus { background-color: transparent; color: #005580; text-decoration: underline; }
.mform .btn-cancel[disabled]:hover, .mform .btn-cancel[disabled]:focus { color: #333333; text-decoration: none; }

input#id_externalurl {direction:ltr;}
#portfolio-add-button {display:inline;}

/**
 * Show the labels above text editors and file managers except on wide screens.
 */
#region-main .mform:not(.unresponsive) .fitem .fitemtitle label {
    font-weight: bold;
}
@media (max-width: 1199px) {
    #region-main .mform:not(.unresponsive) .fitem .fitemtitle {
        display: block;
        margin-top: 4px;
        margin-bottom: 4px;
        text-align: left;
        width: 100%;
    }
    #region-main .mform:not(.unresponsive) .femptylabel .fitemtitle {
        display: inline-block;
        width: auto;
        margin-right: 8px;
    }
    .dir-rtl #region-main .mform:not(.unresponsive) .femptylabel .fitemtitle {
        margin-right: 0px;
        margin-left: 8px;
    }
    .dir-rtl #region-main .mform:not(.unresponsive) .fitem .fitemtitle {
        text-align: right;
    }

    #region-main .mform:not(.unresponsive) .fitem .felement {
        margin-left: 0;
        width: 100%;
        float: left;
        margin-bottom: 6px;
        padding-left: 0;
        padding-right: 0;
    }
    #region-main .mform:not(.unresponsive) .fitem .fstatic:empty {
        display: none;
    }
    #region-main .mform:not(.unresponsive) .femptylabel .felement {
        display: inline-block;
        margin-top: 4px;
        width: auto;
    }
    .dir-rtl #region-main .mform:not(.unresponsive) .fitem .felement {
        margin-right: 0;
        float: right;
        padding-right: 0;
        padding-left: 0;
    }
    #region-main .mform:not(.unresponsive) .fitem_fcheckbox .fitemtitle,
    #region-main .mform:not(.unresponsive) .fitem_fcheckbox .felement {
        display: inline-block;
        width: auto;
    }
    .dir-rtl #region-main .mform:not(.unresponsive) .fitem_fcheckbox .felement {
        float: right;
    }
    #region-main .mform:not(.unresponsive) .fitem_fcheckbox .felement {
        padding: 6px;
    }
}

/**
 * phpinfo styles
 */
.phpinfo .center {text-align: center;}
.phpinfo .center table {margin-left: auto;margin-right: auto;text-align: left;border-collapse: collapse;}
.phpinfo .center th {text-align: center;}
.phpinfo .e,
.phpinfo .v,
.phpinfo .h {border: 1px solid #000000;font-size: 0.8em;vertical-align: baseline;color: #000000;background-color: #cccccc;}
.phpinfo .e {background-color: #ccccff;font-weight: bold;}
.phpinfo .h {background-color: #9999cc;font-weight: bold;}

/**
 * Blogs
 */
.addbloglink {text-align: center;}
.blog_entry .audience {text-align: right;padding-right: 4px;}
.blog_entry .tags {margin-top: 15px;}
.blog_entry .tags .action-icon img.smallicon { height: 16px; width: 16px; }
.blog_entry .content {margin-left: 43px;}

/**
 * Group
 */
#page-group-index #groupeditform {text-align: center;}
#doc-contents h1 {margin: 1em 0 0 0;}
#doc-contents ul {margin: 0;padding: 0;width: 90%;}
#doc-contents ul li {list-style-type: none;}
.groupmanagementtable td {vertical-align: top;}
.groupmanagementtable #existingcell,
.groupmanagementtable #potentialcell {width: 42%;}
.groupmanagementtable #buttonscell {width: 16%;}
.groupmanagementtable #buttonscell input {width: 80%;}
.groupmanagementtable #buttonscell p.arrow_button input {width: auto;min-width: 80%;margin: 0 auto;}
.groupmanagementtable #removeselect_wrapper,
.groupmanagementtable #addselect_wrapper {width: 100%;}
.groupmanagementtable #removeselect_wrapper label,
.groupmanagementtable #addselect_wrapper label {font-weight: normal;}
.dir-rtl .groupmanagementtable p {text-align: right;}
#group-usersummary {width: 14em;}
.groupselector {margin-top: 3px;margin-bottom: 3px;display: inline-block;}

/**
 * Login
 */
.loginbox {margin:15px;overflow:visible;}
.loginbox.twocolumns {margin:15px;}
.loginbox h2,
.loginbox .subcontent {margin:5px;padding:10px;text-align:center;}
.loginbox .loginpanel .desc {margin:0;padding:0;margin-bottom:5px;margin-top:15px;}
.loginbox .signuppanel .subcontent {text-align:left;}
.dir-rtl .loginbox .signuppanel .subcontent {text-align: right;}
.loginbox .loginsub {margin-left:0;margin-right:0;}
.loginbox .guestsub,
.loginbox .forgotsub,
.loginbox .potentialidps {margin:5px 12%;}
.loginbox .potentialidps .potentialidplist {margin-left:40%;}
.loginbox .potentialidps .potentialidplist div {text-align:left;}
.loginbox .loginform {margin-top:1em;text-align:left;}
.loginbox .loginform .form-label {float:left;text-align:right;width:44%;direction:rtl; white-space:nowrap;}
.dir-rtl .loginbox .loginform .form-label {float:left;text-align:right;width:44%;direction:ltr; white-space:nowrap;}
.loginbox .loginform .form-input {float:right;width:55%;}
.loginbox .loginform .form-input input {width: 6em;}
.loginbox .signupform {margin-top:1em;text-align:center;}
.loginbox.twocolumns .loginpanel {float:left;width:49.5%;border-right: 1px solid;margin-bottom:-2000px;padding-bottom:2000px;}
.loginbox.twocolumns .signuppanel {float:right;width:50%;margin-bottom:-2000px;padding-bottom:2000px;}
.loginbox .potentialidp .smallicon { vertical-align: text-bottom; margin: 0 .3em; }
.dir-rtl .loginbox.twocolumns .loginpanel, .dir-rtl.loginbox.twocolumns .signuppanel {float:right;}

/**
 * Notes
 */
.notepost {margin-bottom: 1em;}
.notepost .userpicture {float: left;margin-right: 5px;}
.notepost .content,
.notepost .footer {clear: both;}
.notesgroup {margin-left:20px;}

/**
 * My Moodle
 */
.path-my .coursebox .overview {margin: 15px 30px 10px 30px;}
.path-my .coursebox .info {float: none; margin: 0;}

/**
 * Logs
 */
.logtable th {text-align:left;}

/**
 * Modules
 */
.mod_introbox {border:1px solid;padding:10px;}
table.mod_index {width:100%;}

/**
 * Comments
 */
.comment-ctrl {font-size: 12px;display: none;margin:0;padding:0;}
.comment-ctrl h5 {margin:0;padding: 5px;}
.comment-area {max-width: 400px;padding: 5px;}
.comment-area textarea {width:100%;overflow:auto;}
.comment-area .fd {text-align:right;}
.comment-meta span {color:gray;}
.comment-link img { vertical-align: text-bottom; }
.comment-list {font-size: 11px;overflow:auto;list-style:none;padding:0;margin:0;}
.comment-list li {margin: 2px;list-style:none;margin-bottom:5px;clear:both;padding: .3em;position: relative;}
.comment-list li.first {display:none}
.comment-paging{text-align:center;}
.comment-paging .pageno{padding:2px;}
.comment-paging .curpage{border:1px solid #CCC;}
.comment-message .picture {width: 20px;float:left;}
.dir-rtl .comment-message .picture {float:right;}
.comment-message .text {margin:0;padding:0;}
.comment-message .text p {padding:0;margin:0 18px 0 0;}
.comment-delete {position: absolute; top: 0; right: 0;margin: .3em;}
.dir-rtl .comment-delete {position: absolute; left: 0; right: auto;margin: .3em;}
.comment-delete-confirm {background: #eee; padding: 2px; width: 5em;text-align:center;}
.comment-container {float:left;margin: 4px;}
.comment-report-selectall{display:none}
.comment-link {display:none}
.jsenabled .comment-link {display:block}
.jsenabled .showcommentsnonjs{display:none}
.jsenabled .comment-report-selectall{display:inline}

/**
 * Completion progress report
 */
.completion-expired {background:#FFDDDD;}
.completion-expected {font-size:0.75em;}
.completion-sortchoice,
.completion-identifyfield {font-size:0.75em;vertical-align:bottom;}
.completion-progresscell {text-align:right;}
.completion-expired .completion-expected {font-weight:bold;}

/**
 * Tags
 */
#page-tag-coursetags_edit .coursetag_edit_centered {position: relative;width: 600px;margin: 20px auto;}
#page-tag-coursetags_edit .coursetag_edit_row {clear:both;}
#page-tag-coursetags_edit .coursetag_edit_row .coursetag_edit_left {float:left;width:50%;text-align:right;}
#page-tag-coursetags_edit .coursetag_edit_row .coursetag_edit_right {margin-left:50%;}
#page-tag-coursetags_edit .coursetag_edit_input3 {display: none;}
#page-tag-coursetags_more .coursetag_more_large {font-size: 120%;}
#page-tag-coursetags_more .coursetag_more_small {font-size: 80%;}
#page-tag-coursetags_more .coursetag_more_link {font-size: 80%;}
#tag-description,
#tag-blogs {width:100%;}
#tag-management-box {margin-bottom:10px;line-height:20px;}
#tag-user-table {padding:3px;clear: both;width:100%;}
#tag-user-table:after {content:".";display:block;clear:both;visibility:hidden;height:0;overflow:hidden;}
img.user-image {height:100px;width:100px;}
#small-tag-cloud-box {width:300px;margin:0 auto;}
#big-tag-cloud-box {width:600px;margin:0 auto;float:none;}
ul#tag-cloud-list {list-style:none;padding:5px;margin:0;}
ul#tag-cloud-list li {margin:0;display:inline;list-style-type:none;}
#tag-search-box {text-align:center;margin:10px auto;}
#tag-search-results-container {padding:0;width:100%;}
#tag-search-results {padding:0;margin: 15px 20% 0 20%;float:left;width:60%;display:block;}
#tag-search-results li {width:30%;float:left;padding-left:1%;text-align:left;line-height:20px;padding-right:1%;list-style:none;}
span.flagged-tag,
span.flagged-tag a {color:#FF0000;}
table#tag-management-list {text-align:left;width:100%;}
table#tag-management-list td,
table#tag-management-list th {vertical-align: middle;text-align: left;padding: 4px;}
.tag-management-form {text-align:center;}
#relatedtags-autocomplete-container {margin-left:auto;margin-right:auto;min-height:4.6em;width:100%;}
#relatedtags-autocomplete {position:relative;display:block;width:60%;margin-left:auto;margin-right:auto;}
#relatedtags-autocomplete .yui-ac-content {position:absolute;width:420px;left:20%;border:1px solid #404040;background:#fff;overflow:hidden;z-index:9050;}
#relatedtags-autocomplete .ysearchquery {position:absolute;right:10px;color:#808080;z-index:10;}
#relatedtags-autocomplete .yui-ac-shadow {position:absolute;margin:.3em;width:100%;background:#a0a0a0;z-index:9049;}
#relatedtags-autocomplete ul {padding:0;width:100%;margin:0;list-style-type:none;}
#relatedtags-autocomplete li {padding:0 5px;cursor:default;white-space:nowrap;}
#relatedtags-autocomplete li.yui-ac-highlight{background:#FFFFCC;}
h2.tag-heading,
div#tag-description,
div#tag-blogs,
body.tag .managelink {padding: 5px;}
.tag_cloud .s20 {font-size: 1.5em;font-weight: bold;}
.tag_cloud .s19 {font-size: 1.5em;}
.tag_cloud .s18 {font-size: 1.4em;font-weight: bold;}
.tag_cloud .s17 {font-size: 1.4em;}
.tag_cloud .s16 {font-size: 1.3em;font-weight: bold;}
.tag_cloud .s15 {font-size: 1.3em;}
.tag_cloud .s14 {font-size: 1.2em;font-weight: bold;}
.tag_cloud .s13 {font-size: 1.2em;}
.tag_cloud .s12,
.tag_cloud .s11 {font-size: 1.1em;font-weight: bold;}
.tag_cloud .s10,
.tag_cloud .s9 {font-size: 1.1em;}
.tag_cloud .s8,
.tag_cloud .s7 {font-size: 1em;font-weight: bold;}
.tag_cloud .s6,
.tag_cloud .s5 {font-size: 1em;}
.tag_cloud .s4,
.tag_cloud .s3 {font-size: 0.9em;font-weight: bold;}
.tag_cloud .s2,
.tag_cloud .s1 {font-size: 0.9em;}
.tag_cloud .s0 {font-size: 0.8em;}

/*
 * Backup and Restore CSS
 */
.path-backup .mform .grouped_settings.section_level {clear:both;}
.path-backup .mform .grouped_settings {clear:both;overflow:hidden;}
.path-backup .mform .grouped_settings .fitem .fitemtitle {width:40%;padding-right:10px;}
.path-backup.dir-rtl .mform .grouped_settings .fitem .fitemtitle {width: 60%;}
.path-backup .mform .grouped_settings .fitem .felement {width:50%;}
.path-backup .mform .grouped_settings .fitem.backup_selector .felement {width:100%;}
.path-backup.dir-rtl .mform .grouped_settings .fitem .felement {width: 99%;}
.path-backup .mform .grouped_settings.section_level .include_setting {width:50%;margin:0;float:left;clear:left;font-weight:bold;}
.path-backup.dir-rtl  .mform .grouped_settings.section_level .include_setting {float: right; clear: right;}
.path-backup .mform .grouped_settings.section_level .normal_setting {width:50%;margin:0;margin-left:50%;}
.path-backup.dir-rtl  .mform .grouped_settings.section_level .normal_setting {margin:0;}
.path-backup .mform .grouped_settings.activity_level .include_setting label {font-weight:normal;}
.path-backup.dir-rtl .mform .grouped_settings.activity_level .include_setting label img {float:right;}
.path-backup .mform .fitem fieldset.felement {margin-left:0;width:auto;padding-left:0;}
.path-backup .notification.dependencies_enforced {text-align:center;color:#A00;font-weight:bold;}
.path-backup .backup_progress {text-align:center;}
.path-backup .backup_progress span.backup_stage {color:#999;}
.path-backup .backup_progress .backup_stage.backup_stage_current {font-weight:bold;color:inherit;}
.path-backup .backup_progress .backup_stage.backup_stage_next {}
.path-backup .backup_progress span.backup_stage.backup_stage_complete {color:inherit;}
#page-backup-restore .filealiasesfailures {background-color:#ffd3d9}
#page-backup-restore .filealiasesfailures .aliaseslist {width:90%;margin:0.8em auto;background-color:white;border:1px dotted #666;}
.path-backup .fitemtitle .iconlarge.icon-post { padding-left: 6px; }
.path-backup.dir-rtl .fitemtitle .iconlarge.icon-post { padding-right: 6px; padding-right: 0; }
.path-backup .fitem .smallicon { vertical-align: text-bottom; }
.path-backup .wibbler { width: 500px; margin: 0 auto 10px; border-bottom: 1px solid black; border-right: 1px solid black; border-left: 1px solid black; position: relative; min-height: 4px;}
.path-backup .wibbler .wibble { position: absolute; left: 0; right: 0; top: 0; height: 4px; }
.path-backup .wibbler .state0 { background: #eee; }
.path-backup .wibbler .state1 { background: #ddd; }
.path-backup .wibbler .state2 { background: #ccc; }
.path-backup .wibbler .state3 { background: #bbb; }
.path-backup .wibbler .state4 { background: #aaa; }
.path-backup .wibbler .state5 { background: #999; }
.path-backup .wibbler .state6 { background: #888; }
.path-backup .wibbler .state7 { background: #777; }
.path-backup .wibbler .state8 { background: #666; }
.path-backup .wibbler .state9 { background: #555; }
.path-backup .wibbler .state10 { background: #444; }
.path-backup .wibbler .state11 { background: #333; }
.path-backup .wibbler .state12 { background: #222; }
.path-backup .backup_log { margin-top: 2em; }
.path-backup .backup_log h2 { font-size: 1em; }
.path-backup .backup_log_contents { border: 1px solid #ddd; padding: 10px; height: 300px; overflow-y: scroll; }

/**
 * Web Service
 */
#webservice-doc-generator td {text-align: left;border: 0px solid black;}

/**
 * Custom menu
 */
#custommenu {clear:both;}
#custommenu .yui3-menu .yui3-menu {z-index:500;}
#custommenu .yui3-menu-horizontal.javascript-disabled .yui3-menu-content,
#custommenu .yui3-menu-horizontal.javascript-disabled .yui3-menu-content .ul {border:1px solid #000;}
#custommenu .yui3-menu-horizontal.javascript-disabled ul {margin:0;padding:0;}
#custommenu .yui3-menu-horizontal.javascript-disabled li {margin:0;padding:0;list-style:none;width:auto;position:relative;}
#custommenu .yui3-menu-horizontal.javascript-disabled .yui3-menu .yui3-menu-label {padding-right:20px;}
#custommenu .yui3-menu-horizontal.javascript-disabled>.yui3-menu-content>ul>li {float:left;}
#custommenu .yui3-menu-horizontal.javascript-disabled li a {padding:0 10px;}
#custommenu .yui3-menu-horizontal.javascript-disabled .yui3-menu {position:absolute;top:-10000px;left:-10000px;visibility:hidden;white-space: nowrap;max-width: 250px;background-color:#FFF;}
#custommenu .yui3-menu-horizontal.javascript-disabled li:hover>.yui3-menu {top:100%;left:0;visibility: visible;z-index:10;}
#custommenu .yui3-menu-horizontal.javascript-disabled li:hover .yui3-menu .yui3-menu {top:0;left:100%;min-width:200px;}
#custommenu .yui3-menu-horizontal.javascript-disabled>.yui3-menu-content>ul:after {content:"";display:block;clear:both;line-height:0;font-size:0;visibility:hidden;}
#custommenu .yui3-menu-horizontal.javascript-disabled .yui3-menu-content {font-size:93%;line-height:2;padding:0;}
#custommenu .yui3-menu-horizontal.javascript-disabled .yui3-menu-content .yui3-menu-content {font-size:100%;}

/**
 * Fix for broken YUI images in the menunav component
 */
#custommenu .yui3-menu-label,
#custommenu .yui3-menuitem-content {cursor:pointer;}
#custommenu .yui3-menuitem-active {background-color:#B3D4FF;}
#custommenu .yui3-menuitem-active,
#custommenu .yui3-menuitem-active .yui3-menuitem-content,
#custommenu .yui3-menu-horizontal .yui3-menu-label,
#custommenu .yui3-menu-horizontal .yui3-menu-content {background-image:none;background-position:right center;background-repeat:no-repeat;}
#custommenu .yui3-menu-label,
#custommenu .yui3-menu .yui3-menu .yui3-menu-label {background-image:url([[pix:theme|vertical-menu-submenu-indicator]]); padding-right: 20px;}
#custommenu .yui3-menu .yui3-menu .yui3-menu-label-menuvisible {background-image:url([[pix:theme|horizontal-menu-submenu-indicator]]);}

/**
 * Smart Select Element
 */
.smartselect {position:absolute;}
.smartselect .smartselect_mask {background-color:#fff;}
.smartselect ul  {padding: 0;margin: 0;}
.smartselect ul li {list-style: none;}
.smartselect .smartselect_menu {margin-right:5px;}
.safari .smartselect .smartselect_menu {margin-left:2px;}
.smartselect .smartselect_menu,
.smartselect .smartselect_submenu {border:1px solid #000;background-color:#FFF;display: none;}
.smartselect .smartselect_menu.visible,
.smartselect .smartselect_submenu.visible {display:block;}
.smartselect .smartselect_menu_content ul li {position:relative;padding:2px 5px;}
.smartselect .smartselect_menu_content ul li a {color:#333;text-decoration:none;}
.smartselect .smartselect_menu_content ul li a.selectable {color:inherit;}
.smartselect .smartselect_submenuitem {background-image:url([[pix:moodle|t/collapsed]]);background-repeat: no-repeat;background-position:100%;}
/** Spanning mode */
.smartselect.spanningmenu .smartselect_submenu {position:absolute;top:-1px;left:100%;}
.smartselect.spanningmenu .smartselect_submenu a {white-space: nowrap;padding-right:16px;}
.smartselect.spanningmenu .smartselect_menu_content ul li a.selectable:hover {text-decoration:underline;}
/** Compact mode */
.smartselect.compactmenu .smartselect_submenu {position:relative;margin:2px -3px; margin-left: 10px;display:none;border-width:0;z-index: 1010;}
.smartselect.compactmenu .smartselect_submenu.visible {display:block;}
.smartselect.compactmenu .smartselect_menu {z-index: 1000;overflow:hidden;}
.smartselect.compactmenu .smartselect_submenu .smartselect_submenu {z-index: 1020;}
.smartselect.compactmenu .smartselect_submenuitem:hover > .smartselect_menuitem_label {font-weight:bold;}

/**
 * Registration
 */
#page-admin-registration-register .registration_textfield {width: 300px;}

/**
 * Enrol
 */
.userenrolment {width:100%;border-collapse: collapse;}
.userenrolment td {padding:0;height:41px;}
.userenrolment .subfield {margin-right:5px;}
.userenrolment .col_userdetails .subfield_picture {float:left;}
.userenrolment .col_lastseen {width:150px;}
.userenrolment .col_role {width:262px;}
.userenrolment .col_role .roles {margin-right:30px;}
.userenrolment .col_role .role {float:left;padding:3px;margin:3px;}
.dir-rtl .userenrolment .col_role .role {float:right;}
.userenrolment .col_role .role a {margin-left:3px;cursor:pointer;}
.userenrolment .col_role .addrole {float:right;width:18px;margin:3px;height:18px;text-align:center;}
.userenrolment .col_role .addrole a img {vertical-align:bottom;}
.userenrolment .hasAllRoles .col_role .addrole {display:none;}
.userenrolment .col_group .groups {margin-right:30px;}
.userenrolment .col_group .group {float:left;padding:3px;margin:3px;white-space:nowrap;}
.userenrolment .col_group .group a {margin-left:3px;cursor:pointer;}
.userenrolment .col_group .addgroup {float:right;width:18px;margin:3px;height:18px;text-align:center;}
.userenrolment .col_group .addgroup a img {vertical-align:bottom;}
.userenrolment .col_enrol .enrolment {float:left;padding:3px;margin:3px;}
.userenrolment .col_enrol .enrolment a {float:right;margin-left:3px;}
#page-enrol-users .enrol_user_buttons {float:right;}
#page-enrol-users .enrol_user_buttons .singlebutton {margin-top: 2px; line-height: 2;}
#page-enrol-users .enrol_user_buttons .enrolusersbutton {margin-left:1em;display:inline;}
#page-enrol-users .enrol_user_buttons .enrolusersbutton div,
#page-enrol-users .enrol_user_buttons .enrolusersbutton form {display:inline;}
#page-enrol-users .enrol_user_buttons .enrolusersbutton input {padding-left:6px;padding-right:6px;}
#page-enrol-users.dir-rtl .col_userdetails .subfield_picture {float: right;}
#page-enrol-users #filterform div,
#page-enrol-users #filterform fieldset {display:inline;float:none;clear:none;width:auto;margin:0;line-height:2;}
#page-enrol-users #filterform .fitem {white-space:nowrap;}
#page-enrol-users #filterform fieldset > div {display:block;float:left;background:#f2f2f2;padding:2px;}
#page-enrol-users #filterform select,
#page-enrol-users #filterform .ftext input {width:8em;}
#page-enrol-users #filterform #fitem_id_role,
#page-enrol-users #filterform #fitem_id_ifilter,
#page-enrol-users #filterform #fgroup_id_buttons {margin-left:0.5em;}
#page-enrol-users .paging { clear: right; }

/**
* Overide for RTL layout
**/
.dir-rtl .headermain {float:right;}
.dir-rtl .headermenu {float:left;}
.dir-rtl .breadcrumb {float:right;}
.dir-rtl .navbutton {float: left;}
.dir-rtl .breadcrumb ul li { float: right; margin-left: 5px;}
.dir-rtl .mform .fitem .fitemtitle {float:right;}
.dir-rtl .loginbox .loginform .form-label {float:right;text-align:left;}
.dir-rtl .loginbox .loginform .form-input {text-align: right;}
.dir-rtl .yui3-menu-hidden {left: 0px;}
#page-admin-roles-define.dir-rtl #rolesform .felement {margin-right: 180px;}
#page-message-edit.dir-rtl table.generaltable th.c0 {text-align: right;}

/**
 * Backup
 */
.backup-restore .backup-section {clear:both;border:1px solid #ddd;background-color:#f6f6f6;margin-bottom:1em;}
.backup-restore .backup-section > h2.header {padding:5px 6px;margin:0;border-bottom:1px solid #ddd;}
.backup-restore .backup-section .noticebox {margin:1em auto;width:60%;text-align:center;}
.backup-restore .backup-section .backup-sub-section {margin:0 25px;background-color:#f9f9f9;border:1px solid #f3f3f3;margin-bottom:1em;}
.backup-restore .backup-section .backup-sub-section h3 {text-align:right;border-bottom:1px solid #DDD;padding:5px 86% 5px 6px;margin:0;background-color:#e9e9e9;}
.backup-restore .backup-section.settings-section .detail-pair {margin:0;padding:0;width:50%;display:inline-block;}
.backup-restore .backup-section.settings-section .detail-pair .detail-pair-label {width:65%;}
.backup-restore .backup-section.settings-section .detail-pair .detail-pair-value {width:25%;}
.backup-restore .activitytable {width:60%;min-width:500px;}
.backup-restore .activitytable .modulename {width:100px;}
.backup-restore .activitytable .moduleincluded {width:50px;}
.backup-restore .activitytable .userinfoincluded {width:50px;}
.backup-restore .detail-pair {}
.backup-restore .detail-pair-label {display:inline-block;width:25%;padding:8px;margin:0;text-align:right;font-weight:bold;color:#444;vertical-align:top;}
.backup-restore .detail-pair-value {display:inline-block;width:65%;padding:8px;margin:0;}
.backup-restore .detail-pair-value > .sub-detail {display:block;color:#1580B6;margin-left:2em;font-size:90%;font-style: italic;}
.backup-restore > .singlebutton {text-align:right;}
.path-backup .mform .fgroup .proceedbutton {float:right;margin-right:1%;}

.restore-course-search .rcs-results {width:70%;min-width:400px;border:1px solid #ddd;margin:5px 0;}
.restore-course-search .rcs-results table {width:100%;margin:0;border-width:0;}
.restore-course-search .rcs-results table .no-overflow {max-width:600px;}
.restore-course-search .rcs-results .paging {text-align:left;margin:0;background-color:#eee;padding:3px;}

.restore-course-category .rcs-results {width:70%;min-width:400px;border:1px solid #ddd;margin:5px 0;}
.restore-course-category .rcs-results table {width:100%;margin:0;border-width:0;}
.restore-course-category .rcs-results table .no-overflow {max-width:600px;}
.restore-course-category .rcs-results .paging {text-align:left;margin:0;background-color:#eee;padding:3px;}

.corelightbox {background-color:#CCC;position:absolute;top:0;left:0;width:100%;height:100%;text-align:center;}
.corelightbox img {position:fixed;top:50%; left: 50%;}

.mod-indent {display:table-cell;}
.label .mod-indent {float:left; padding-top:20px}
.mod-indent-1    {width:30px;}
.mod-indent-2    {width:60px;}
.mod-indent-3    {width:90px;}
.mod-indent-4    {width:120px;}
.mod-indent-5    {width:150px;}
.mod-indent-6    {width:180px;}
.mod-indent-7    {width:210px;}
.mod-indent-8    {width:240px;}
.mod-indent-9    {width:270px;}
.mod-indent-10   {width:300px;}
.mod-indent-11   {width:330px;}
.mod-indent-12   {width:360px;}
.mod-indent-13   {width:390px;}
.mod-indent-14   {width:420px;}
.mod-indent-15   {width:450px;}
.mod-indent-16,
.mod-indent-huge {width:480px;}

.dir-rtl .mform .fitem .felement {margin-right: 16%;margin-left:auto;text-align: right;}
.dir-rtl .mform .fitem .felement input[name=email],
.dir-rtl .mform .fitem .felement input[name=email2],
.dir-rtl .mform .fitem .felement input[name=url],
.dir-rtl .mform .fitem .felement input[name=idnumber],
.dir-rtl .mform .fitem .felement input[name=phone1],
.dir-rtl .mform .fitem .felement input[name=phone2] {text-align: left; direction: ltr;}

/* Audio player size in 'block' mode (can only change width, height is hardcoded in JS) */
.resourcecontent .mediaplugin_mp3 object {height:25px; width: 600px}
.resourcecontent audio.mediaplugin_html5audio {width: 600px}

/** Large resource images should avoid hidden overflow **/
.resourceimage {max-width: 100%;}

/* Audio player size in 'inline' mode (can only change width, as above) */
.mediaplugin_mp3 object {height:15px;width:300px}
audio.mediaplugin_html5audio {width: 300px}

/* TinyMCE moodle media preview frame should not have padding */
.core_media_preview.pagelayout-embedded #content {padding:0;}
.core_media_preview.pagelayout-embedded #maincontent {height:0;}
.core_media_preview.pagelayout-embedded .mediaplugin {margin:0;}

/*
Fix for SubScript & SuperScript
------------------------------*/
sub {vertical-align: sub;}
sup {vertical-align: super;}

/** Fix YUI 2 Treeview for Right to left languages **/
.dir-rtl .ygtvtn,
.dir-rtl .ygtvtm,
.dir-rtl .ygtvtmh,
.dir-rtl .ygtvtmhh,
.dir-rtl .ygtvtp,
.dir-rtl .ygtvtph,
.dir-rtl .ygtvtphh,
.dir-rtl .ygtvln,
.dir-rtl .ygtvlm,
.dir-rtl .ygtvlmh,
.dir-rtl .ygtvlmhh,
.dir-rtl .ygtvlp,
.dir-rtl .ygtvlph,
.dir-rtl .ygtvlphh,
.dir-rtl .ygtvdepthcell,
.dir-rtl .ygtvok,
.dir-rtl .ygtvok:hover,
.dir-rtl .ygtvcancel,
.dir-rtl .ygtvcancel:hover {width:18px; height:22px; background-image:url([[pix:theme|yui2-treeview-sprite-rtl]]); background-repeat: no-repeat; cursor:pointer;}

.dir-rtl .ygtvtn {background-position: 0 -5600px;}
.dir-rtl .ygtvtm {background-position: 0 -4000px;}
.dir-rtl .ygtvtmh,
.dir-rtl .ygtvtmhh {background-position: 0 -4800px;}
.dir-rtl .ygtvtp {background-position: 0 -6400px;}
.dir-rtl .ygtvtph,
.dir-rtl .ygtvtphh {background-position: 0 -7200px;}
.dir-rtl .ygtvln {background-position: 0 -1600px;}
.dir-rtl .ygtvlm {background-position: 0 0;}
.dir-rtl .ygtvlmh,
.dir-rtl .ygtvlmhh {background-position: 0 -800px;}
.dir-rtl .ygtvlp {background-position: 0 -2400px;}
.dir-rtl .ygtvlph,
.dir-rtl .ygtvlphh {background-position: 0 -3200px}
.dir-rtl .ygtvdepthcell {background-position: 0 -8000px;}
.dir-rtl .ygtvok {background-position: 0 -8800px;}
.dir-rtl .ygtvok:hover {background-position: 0 -8844px;}
.dir-rtl .ygtvcancel {background-position: 0 -8822px;}
.dir-rtl .ygtvcancel:hover {background-position: 0 -8866px;}

.dir-rtl.yui-skin-sam .yui-panel .hd {text-align:left;}
.dir-rtl .yui-skin-sam .yui-layout .yui-layout-unit div.yui-layout-bd {text-align:right;}

/** Fix TinyMCE editor right to left **/
.dir-rtl .clearlooks2.ie9 .mceAlert .mceMiddle span,.dir-rtl .clearlooks2 .mceConfirm .mceMiddle span {top: 44px;}
.dir-rtl .o2k7Skin table,
.dir-rtl .o2k7Skin tbody,
.dir-rtl .o2k7Skin a,
.dir-rtl .o2k7Skin img,
.dir-rtl .o2k7Skin tr,
.dir-rtl .o2k7Skin div,
.dir-rtl .o2k7Skin td,
.dir-rtl .o2k7Skin iframe,
.dir-rtl .o2k7Skin span,
.dir-rtl .o2k7Skin *,
.dir-rtl .o2k7Skin .mceText,
.dir-rtl .o2k7Skin .mceListBox .mceText {text-align:right;}

.path-rating .ratingtable {width:100%;margin-bottom:1em;}
.path-rating .ratingtable th.rating {width:100%;}
.path-rating .ratingtable td.rating,
.path-rating .ratingtable td.time {white-space:nowrap; text-align:center;}

/* Fix for ordered and unordered list in course topic summary & course weekly summary */

.course-content ul.weeks .content .summary ul,
.course-content ul.topics .content .summary ul {list-style: disc outside none;}

.course-content ul.weeks .content .summary ol,
.course-content ul.topics .content .summary ol {list-style: decimal outside none;}

.dir-rtl #adminsettings #id_s__pathtodu,
.dir-rtl #adminsettings #id_s__aspellpath,
.dir-rtl #adminsettings #id_s__pathtodot,
.dir-rtl #adminsettings #id_s__supportemail,
.dir-rtl #adminsettings #id_s__supportpage,
.dir-rtl #adminsettings #id_s__sessioncookie,
.dir-rtl #adminsettings #id_s__sessioncookiepath,
.dir-rtl #adminsettings #id_s__sessioncookiedomain,
.dir-rtl #adminsettings #id_s__proxyhost,
.dir-rtl #adminsettings #id_s__proxyuser,
.dir-rtl #adminsettings #id_s__proxypassword,
.dir-rtl #adminsettings #id_s__proxybypass,
.dir-rtl #adminsettings #id_s__jabberhost,
.dir-rtl #adminsettings #id_s__jabberserver,
.dir-rtl #adminsettings #id_s__jabberusername,
.dir-rtl #adminsettings #id_s__jabberpassword,
.dir-rtl #adminsettings #id_s__additionalhtmlhead,
.dir-rtl #adminsettings #id_s__additionalhtmltopofbody,
.dir-rtl #adminsettings #id_s__additionalhtmlfooter,
.dir-rtl #adminsettings #id_s__docroot,
.dir-rtl #adminsettings #id_s__filter_tex_latexpreamble,
.dir-rtl #adminsettings #id_s__filter_tex_latexbackground,
.dir-rtl #adminsettings #id_s__filter_tex_pathlatex,
.dir-rtl #adminsettings #id_s__filter_tex_pathdvips,
.dir-rtl #adminsettings #id_s__filter_tex_pathconvert,
.dir-rtl #adminsettings #id_s__blockedip,
.dir-rtl #adminsettings #id_s__pathtoclam,
.dir-rtl #adminsettings #id_s__quarantinedir,
.dir-rtl #adminsettings #id_s__sitepolicy,
.dir-rtl #adminsettings #id_s__sitepolicyguest,
.dir-rtl #adminsettings #id_s__cronremotepassword,
.dir-rtl #adminsettings #id_s__allowedip,
.dir-rtl #adminsettings #id_s__blockedip,
.dir-rtl #adminsettings #id_s_enrol_meta_nosyncroleids,
.dir-rtl #adminsettings #id_s_enrol_ldap_host_url,
.dir-rtl #adminsettings #id_s_enrol_ldap_ldapencoding,
.dir-rtl #adminsettings #id_s_enrol_ldap_bind_dn,
.dir-rtl #adminsettings #id_s_enrol_ldap_bind_pw,
.dir-rtl #adminsettings #admin-emoticons .form-text,
.dir-rtl #adminsettings #admin-role_mapping input[type=text],
.dir-rtl #adminsettings #id_s_enrol_paypal_paypalbusiness,
.dir-rtl #adminsettings #id_s_enrol_flatfile_location,
#page-admin-setting-enrolsettingsflatfile.dir-rtl input[type=text],
#page-admin-setting-enrolsettingsdatabase.dir-rtl input[type=text],
#page-admin-auth-db.dir-rtl input[type=text] {direction: ltr;}

#page-admin-setting-enrolsettingsflatfile.dir-rtl .informationbox {direction: ltr;text-align: left;}

#page-admin-grade-edit-scale-edit.dir-rtl .error input#id_name {margin-right: 170px;}
.initialbar a {padding-right: 2px;}

/* Moodle Dialogue Settings (moodle-core-dialogue)  */
.moodle-dialogue-base .moodle-dialogue-lightbox {
    background-color:#AAA;
}

.moodle-dialogue-base .moodle-dialogue {
    outline: #000 dotted 0;
}

.moodle-dialogue-base .hidden,
.moodle-dialogue-base .moodle-dialogue-hidden {display:none;}
.moodle-dialogue-base .moodle-dialogue {
    padding: 0;
    margin: 0;
    background: none;
    border: none;
    /* Override the z-index set incorrectly by the YUI dialogue */
    z-index: 600;
}

.no-scrolling { overflow: hidden; }

.moodle-dialogue-base .moodle-dialogue-fullscreen {
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: -50px;
    position: fixed;
}
.moodle-dialogue-base .moodle-dialogue-fullscreen .moodle-dialogue-content {
    overflow: auto;
}
.moodle-dialogue-base .moodle-dialogue-fullscreen .closebutton {
    width: 28px;
    height: 16px;
    background-size: 100%;
}


.moodle-dialogue-base .moodle-dialogue-wrap {
    margin-top:-3px;
    margin-left:-3px;
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 10px;
    box-shadow: 5px 5px 20px 0px #666666;
    -webkit-box-shadow: 5px 5px 20px 0px #666666;
    -moz-box-shadow: 5px 5px 20px 0px #666666;
    overflow: hidden;
}

.moodle-dialogue-base .moodle-dialogue-wrap .moodle-dialogue-hd,
.moodle-dialogue-base .moodle-dialogue-wrap .moodle-dialogue-hd.yui3-widget-hd {
    margin:0;
    padding:5px;
    font-size:12px;
    font-weight: normal;
    letter-spacing: 1px;
    color:#333333;
    text-align: center;
    text-shadow: 1px 1px 1px #FFFFFF;
    border-radius: 10px 10px 0px 0px;
    border-bottom: 1px solid #BBBBBB;
    background-color: #CCCCCC;
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#CCCCCC')!important;
    -ms-filter: dropshadow(color=#FFFFFF, offx=1, offy=1);
    background-image: -webkit-linear-gradient(top, #FFFFFF, #CCCCCC); /* For Chrome and Safari */
    background-image:    -moz-linear-gradient(top, #FFFFFF, #CCCCCC); /* For old Fx (3.6 to 15) */
    background-image:     -ms-linear-gradient(top, #FFFFFF, #CCCCCC); /* For pre-releases of IE 10*/
    background-image:      -o-linear-gradient(top, #FFFFFF, #CCCCCC); /* For old Opera (11.1 to 12.0) */
    background-image:         linear-gradient(to bottom, #FFFFFF, #CCCCCC); /* Standard syntax; must be last */
}

.moodle-dialogue-base .moodle-dialogue-wrap .moodle-dialogue-hd h1 {
    margin:0;
    padding:0;
    display:inline;
    font-size: 100%;
    font-weight: bold;
}
.moodle-dialogue-base .moodle-dialogue-wrap .moodle-dialogue-hd .yui3-widget-buttons {
    padding: 5px;
}
.moodle-dialogue-base .closebutton {
    width:25px;
    height:15px;
    float:right;
    vertical-align:middle;
    display:inline-block;
    cursor:pointer;
    padding:0px;
    background-image:url([[pix:theme|sprite]]);
    background-repeat:no-repeat;
    border-style:none;
}
.dir-rtl .moodle-dialogue-base .moodle-dialogue-wrap .moodle-dialogue-hd .yui3-widget-buttons {
    left: 0px;
    right: auto;
}

.moodle-dialogue-base .moodle-dialogue .moodle-dialogue-bd {
    padding: 1em;
    line-height: 2em;
    color: #555;
    font-size: 12px;
}

.moodle-dialogue-base .moodle-dialogue-wrap .moodle-dialogue-content {
  padding:0px;
  background:#FFF;
}

.moodle-dialogue-base .moodle-dialogue-fullscreen .moodle-dialogue-hd {
    padding: 10px;
    font-size: 16px;
}

.moodle-dialogue-base .moodle-dialogue-fullscreen .moodle-dialogue-content {
    overflow: auto;
    position: absolute;
    top: 0px;
    bottom: 50px;
    left: 0px;
    right: 0px;
    margin: 0px;
    border: 0px;
}
.moodle-dialogue-base .moodle-dialogue-fullscreen .moodle-dialogue-hd,
.moodle-dialogue-base .moodle-dialogue-fullscreen .moodle-dialogue-wrap {
    border-radius: 0px;
}

.moodle-dialogue-confirm .confirmation-dialogue {text-align:center;}
.moodle-dialogue-confirm .confirmation-dialogue input {text-align:center;}
.moodle-dialogue-exception .moodle-exception-message {text-align:center}
.moodle-dialogue-exception .moodle-exception-param label {font-weight:bold;}
.moodle-dialogue-exception .param-stacktrace label {
    background-color:#EEE;
    border:1px solid #ccc;
    border-bottom-width:0;
}

.moodle-dialogue-exception .param-stacktrace pre {
    border:1px solid #ccc;
    background-color:#fff;
}

.moodle-dialogue-exception .param-stacktrace .stacktrace-file {
    color:navy;
    font-size:80%;
}
.moodle-dialogue-exception .param-stacktrace .stacktrace-line {
    color:#AA0000;
    font-size:80%;
}
.moodle-dialogue-exception .param-stacktrace .stacktrace-call {
    color:#333;
    font-size:90%;
    border-bottom:1px solid #eee;
}

.moodle-dialogue-base .moodle-dialogue .moodle-dialogue-content .moodle-dialogue-ft {
    padding:0px;
    margin: 0.7em 1em;
    text-align: right;
    background-color: #FFF;
    font-size: 12px;
}

.moodle-dialogue-confirm .confirmation-message {margin:0.5em 1em;}
.moodle-dialogue-confirm .confirmation-dialogue input {min-width:80px}
.moodle-dialogue-exception .moodle-exception-message {margin:1em;}
.moodle-dialogue-exception .moodle-exception-param {margin-bottom:0.5em;}
.moodle-dialogue-exception .moodle-exception-param label {width:150px;}
.moodle-dialogue-exception .param-stacktrace label {
    display:block;
    margin:0;
    padding:4px 1em;
}
.moodle-dialogue-exception .param-stacktrace pre {
    display:block;
    height:200px;
    overflow:auto;
}

.moodle-dialogue-exception .param-stacktrace .stacktrace-file {
    display:inline-block;
    margin:4px 0;
}
.moodle-dialogue-exception .param-stacktrace .stacktrace-line {
    display:inline-block;
    width:50px;
    margin:4px 1em;
}
.moodle-dialogue-exception .param-stacktrace .stacktrace-call {
    padding-left:25px;
    margin-bottom:4px;
    padding-bottom:4px;
}

.moodle-dialogue .moodle-dialogue-bd .content-lightbox {
    opacity: .75;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: white;
    text-align: center;
    padding: 10% 0;
}

/* Apply a default max-height on tooltip text */
.moodle-dialogue .tooltiptext {
    max-height: 300px;
}
.moodle-dialogue-base .moodle-dialogue.moodle-dialogue-tooltip {
    z-index: 3001;
}
.moodle-dialogue-base .moodle-dialogue.moodle-dialogue-tooltip .moodle-dialogue-bd {
    overflow: auto;
}

/* Question Bank - Question Chooser "Close" button */
#page-question-edit.dir-rtl a.container-close {right:auto;left:6px;}

/**
 * Chooser Dialogues (moodle-core-chooserdialogue)
 *
 * This CSS belong to the chooser dialogue which should work both with, and
 * without javascript enabled
 */
/* Hide the dialog and it's title */
.chooserdialoguebody,
.choosertitle {
    display:none;
}
.moodle-dialogue.chooserdialogue .moodle-dialogue-content .moodle-dialogue-ft {
    margin: 0;
}

.chooserdialogue .moodle-dialogue-wrap .moodle-dialogue-bd {
    padding: 0px;
    background: #F2F2F2;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* Center the submit buttons within the area */
.choosercontainer #chooseform .submitbuttons {
    padding: 0.7em 0;
    text-align: center;
}

.choosercontainer #chooseform .submitbuttons input {
    min-width: 100px;
    margin: 0px 0.5em;
}

/* Various settings for the options area */
.choosercontainer #chooseform .options {
    position: relative;
    border-bottom: 1px solid #BBBBBB;
}

/* Only set these options if we're showing the js container */
.jsenabled .choosercontainer #chooseform .alloptions {
    overflow-x: hidden;
    overflow-y: auto;
    max-width: 20.3em;
    box-shadow: inset 0px 0px 30px 0px #CCCCCC;
    -webkit-box-shadow: inset 0px 0px 30px 0px #CCCCCC;
    -moz-box-shadow: inset 0px 0px 30px 0px #CCCCCC;
}
.dir-rtl.jsenabled .choosercontainer #chooseform .alloptions {
    max-width: 18.3em;
}

/* Settings for option rows and option subtypes */
.choosercontainer #chooseform .moduletypetitle,
.choosercontainer #chooseform .option,
.choosercontainer #chooseform .nonoption {
    margin-bottom: 0;
    padding: 0 1.6em 0 1.6em;
}

.choosercontainer #chooseform .moduletypetitle {
    text-transform: uppercase;
    padding-top: 1.2em;
    padding-bottom: 0.4em;
}

.choosercontainer #chooseform .option .typename,
.choosercontainer #chooseform .option span.modicon img.icon,
.choosercontainer #chooseform .nonoption .typename,
.choosercontainer #chooseform .nonoption span.modicon img.icon {
    padding: 0 0 0 0.5em;
}
.dir-rtl .choosercontainer #chooseform .option .typename,
.dir-rtl .choosercontainer #chooseform .option span.modicon img.icon,
.dir-rtl .choosercontainer #chooseform .nonoption .typename,
.dir-rtl .choosercontainer #chooseform .nonoption span.modicon img.icon {
    padding: 0 0.5em 0 0;
}

.choosercontainer #chooseform .option span.modicon img.icon,
.choosercontainer #chooseform .nonoption span.modicon img.icon {
    height: 24px; width: 24px;
}

.choosercontainer #chooseform .option input[type=radio],
.choosercontainer #chooseform .option span.typename,
.choosercontainer #chooseform .option span.modicon {
    vertical-align: middle;
}

.choosercontainer #chooseform .option label {
    display: block;
    padding: 0.3em 0 0.1em 0;
    border-bottom: 1px solid #FFFFFF;
}

.choosercontainer #chooseform .nonoption {
    padding-left: 2.7em;
    padding-top: 0.3em;
    padding-bottom: 0.1em;
}
.dir-rtl .choosercontainer #chooseform .nonoption {
    padding-right: 2.7em;
    padding-left: 0;
}

.choosercontainer #chooseform .subtype {
    margin-bottom: 0;
    padding: 0 1.6em 0 3.2em;
}
.dir-rtl .choosercontainer #chooseform .subtype {
    padding: 0 3.2em 0 1.6em;
}

.choosercontainer #chooseform .subtype .typename {
    margin: 0 0 0 0.2em;
}
.dir-rtl .choosercontainer #chooseform .subtype .typename {
    margin: 0 0.2em 0 0;
}

/* The instruction/help area */
.jsenabled .choosercontainer #chooseform .instruction,
.jsenabled .choosercontainer #chooseform .typesummary {
    display: none;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 20.3em;
    margin: 0;
    padding: 1.6em;
    background-color: #FFFFFF;
    overflow-x: hidden;
    overflow-y: auto;
    line-height: 2em;
}

.dir-rtl.jsenabled .choosercontainer #chooseform .instruction,
.dir-rtl.jsenabled .choosercontainer #chooseform .typesummary {
    left: 0px;
    right: 18.5em;
    border-right: 1px solid grey;
}

/* Selected option settings */
.jsenabled .choosercontainer #chooseform .instruction,
.choosercontainer #chooseform .selected .typesummary {
    display: block;
}

.choosercontainer #chooseform .selected {
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px 0px #CCCCCC;
    -webkit-box-shadow: 0px 0px 10px 0px #CCCCCC;
    -moz-box-shadow: 0px 0px 10px 0px #CCCCCC;
}
.section-modchooser-link img.smallicon { padding-right: 3px; }
.dir-rtl .section-modchooser-link img.smallicon { padding-left: 3px; padding-right: 0;}

/* Install Process' text fields Forms, should always be justified to the left */
form#installform #id_wwwroot,form#installform #id_dirroot ,form#installform #id_dataroot,
form#installform #id_dbhost, form#installform #id_dbname, form#installform #id_dbuser,
form#installform #id_dbpass, form#installform #id_prefix
{direction: ltr;}

html[dir=rtl] .breadcrumb,
html[dir=rtl] .headermain,
html[dir=rtl] #page-header,
html[dir=rtl] #page-content {float: right;}

html[dir=rtl] .formrow label.formlabel { float:right; }

html[dir=rtl] .configphp {direction:ltr;text-align:left;}

table.flexible .r0, table.generaltable .r0 {background-color: #F0F0F0;}
table.flexible .r1, table.generaltable .r1 {background-color: #FAFAFA;}
table.flexible .emptyrow {display: none;}

/* Form element: listing */
.formlistingradio {padding-bottom: 25px; padding-right: 10px;}
.formlistinginputradio {float: left;}
.formlistingmain {min-height: 225px;}
.formlistingradiocontent {}
.formlisting {
    position: relative;
    margin: 15px 0;
    padding: 1px 19px 14px;
    background-color: white;
    border: 1px solid #DDD;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.formlistingmore {
    position: absolute;
    cursor: pointer;
    bottom: -1px;
    right: -1px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    background-color: whiteSmoke;
    border: 1px solid #DDD;
    color: #9DA0A4;
    -webkit-border-radius: 4px 0 4px 0;
    -moz-border-radius: 4px 0 4px 0;
    border-radius: 4px 0 4px 0;
}

.formlistingall {
    margin: 15px 0;
    padding: 0px 0px 0px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.formlistingrow {
    cursor: pointer;
    border-bottom: 1px solid;
    border-color: #E1E1E8;
    border-left: 1px solid #E1E1E8;
    border-right: 1px solid #E1E1E8;
    background-color: #F7F7F9;
    -webkit-border-radius: 0px 0px 4px 4px;
    -moz-border-radius: 0px 0px 4px 4px;
    padding: 6px;
    top: 50%;
    left: 50%;
    min-height: 34px;
    float:left;
    width: 150px;
}

body.jsenabled .formlistingradio {
    display: none;
}

body.jsenabled .formlisting {
    display: block;
}

/**
 * Badges styles
 */
#badge h3 {
    clear: left;
    text-align: left;
    padding-top: 10px;
}
#badge .span2,
#badge .span10 {
    float: left;
}
#badge .span2 {
    width: 200px;
}
#badge .row-fluid {
    clear: left;
}
#page-badges-view .collection { width: 90%; margin: 1em auto; }
#page-badges-index .collection { width: 85%; margin: 1em auto; }

table.collection th { font-size: inherit !important; border-width: 1px; border-style: solid; border-color: #CCCCCC; vertical-align: middle; padding-left: 5px; padding-right: 5px; vertical-align: top; text-align: center !important; }
table.collection td { border-width: 1px; border-style: solid; border-color: #CCCCCC; vertical-align: middle; padding-left: 5px; padding-right: 5px; vertical-align: top; }
table.collection .r1 { background-color: #FFFFFF; }
table.collection .r0 { background-color: #F6F6F6; }
table.collection ul { margin: 0.5em 0.5em 0.5em 2em; }
.dir-rtl table.collection ul { margin: 0.5em 2em 0.5em 0.5em; }

#page-badges-view table.collection .badgeimage,
#page-badges-index table.collection .status { width: 15%; text-align: center; vertical-align: middle; }
#page-badges-view table.collection .awards,
#page-badges-index table.collection .awards { width: 10%; text-align: center; vertical-align: middle; }
#page-badges-view table.collection .description { width: 25%; text-align: left; }
#page-badges-view.dir-rtl table.collection .description { width: 25%; text-align: right; }

table.collection .name { text-align: left; vertical-align: middle; }
.dir-rtl table.collection .name { text-align: right; vertical-align: middle; }
#page-badges-view table.collection .criteria { width: 35%; text-align: left; vertical-align: top; }
#page-badges-view.dir-rtl table.collection .criteria { text-align: right; }
#page-badges-index table.collection .criteria { width: 40%; text-align: left; vertical-align: top; }
#page-badges-index.dir-rtl table.collection .criteria { text-align: right; }
#page-badges-index table.collection .actions { width: 11em; text-align: center; vertical-align: middle; }

a.criteria-action { padding: 0px 3px; float: right; }
.dir-rtl a.criteria-action { float: left; }

ul.badges { margin: 0; list-style: none; }
.badges li { position: relative; display: inline-block; padding-bottom: 2em; text-align: center; vertical-align: top; width: 150px; }
.badges li .badge-name { display: block; padding: 5px; }
.badges li > img { position: absolute; }
.badges li .badge-image { width: 90px; height: 90px; left: 10px; top: 0px; z-index: 1; }
.dir-rtl .badges li .badge-image { right: 10px; }
.badges li .badge-actions { position: relative; }

div.badge { position: relative; display: block; }
div.badge .expireimage { width: 100px; height: 100px; left: 0px; top: 0px; }
.expireimage { width: 90px; height: 90px; left: 30px; top: 0px; position: absolute; z-index:10; filter: alpha(opacity = 85); -moz-opacity: 0.85; -khtml-opacity: 0.85; opacity: 0.85;}

.badge-profile { vertical-align: top; }
.connected { color: #006600; }
.notconnected { color: #660000; }

#page-badges-award .recipienttable { background-color: #EEEEEE; border: 1px solid #BBBBBB; width: 100%; vertical-align: top; }
#page-badges-award .recipienttable tr td { vertical-align: top; }
#page-badges-award .recipienttable tr td.actions { width: 16%; padding-top: 3em; }
#page-badges-award .recipienttable tr td.actions .actionbutton { margin: 0.3em 0; padding: 0.5em 0; width: 100%; }
#page-badges-award .recipienttable tr td.existing,
#page-badges-award .recipienttable tr td.potential { width: 42%; }
#page-badges-criteria_settings .selectcourse { min-width: 200px; max-width: 600px; }

#issued-badge-table .activatebadge {
    display: inline-block;
}
#issued-badge-table div.activatebadge {
    margin-left: 3px;
}
.statusbox { border-color: #BBBBBB; padding: 5px;text-align: center;}
.statusbox.active { background-color: #D9F991; }
.statusbox.inactive { background-color: #FFEBA8; }
.statusbox .activatebadge {
    display: inline-block;
}
.statusbox .activatebadge input[type=submit]{
    margin: 3px;
}
.dir-rtl .activatebadge { text-align: right; }
.addcourse { float: right; }
.dir-rtl .addcourse { float: left; }
img#persona_signin { cursor: pointer; }

/**
 * The date selector popup.
 */
 div#dateselector-calendar-panel {
     z-index: 3100; /* Set higher than the z-index of the filemanager - see MDL-39047. */
 }

.path-mod-lesson .centerpadded { padding: 5px; text-align: center; }

/** Action menu component styles **/
.moodle-actionmenu,
.moodle-actionmenu > ul,
.moodle-actionmenu > ul > li {display: inline-block;}
.moodle-actionmenu ul {padding: 0;margin: 0;list-style-type: none;}
#page .moodle-actionmenu a.hidden {display: none;}
.moodle-actionmenu .toggle-display,
.moodle-actionmenu .menu-action-text {display: none;}

.jsenabled .block .editing_move {display: none;}
.jsenabled .moodle-actionmenu[data-enhance] {display: block;}
.jsenabled .moodle-actionmenu[data-enhance] .menu {display: none;}
.jsenabled .moodle-actionmenu[data-enhance] .toggle-display {display: inline;opacity: 0.5;filter: alpha(opacity=50);}

.jsenabled .moodle-actionmenu[data-enhance] .toggle-display.textmenu {
    display: block;
    margin-left: 4px;
    padding-left: 4px;
    padding-right: 4px;
}

.jsenabled.dir-rtl .moodle-actionmenu[data-enhance] .toggle-display.textmenu {
    margin-right: 4px;
    margin-left: initial;
}

.jsenabled .moodle-actionmenu[data-enhance] .toggle-display.textmenu .iconsmall {
    margin: 8px 4px 0px 2px;
}

.jsenabled .moodle-actionmenu[data-enhance] .toggle-display.textmenu .caret {
    margin-top: 4px;
    margin-left: 2px;
}

.jsenabled.dir-rtl .moodle-actionmenu[data-enhance] .toggle-display.textmenu .caret {
    margin-right: 2px;
    margin-left: initial;
}

.jsenabled .moodle-actionmenu[data-enhanced] .toggle-display {opacity: 1;filter: alpha(opacity=100);}
.jsenabled .moodle-actionmenu[data-enhanced] .menu-action-text {
    display: inline;
}

.moodle-actionmenu[data-enhanced].show {position: relative;}
.moodle-actionmenu[data-enhanced].show .menu {position: absolute;text-align:left;z-index: 1000;display: block;background-color: #fff;border: 1px solid #ccc;-webkit-border-radius: 5px;-moz-border-radius: 5px;border-radius: 5px;-webkit-box-shadow: 5px 5px 20px 0 #666666;-moz-box-shadow: 5px 5px 20px 0 #666666;box-shadow: 5px 5px 20px 0 #666666;}
.moodle-actionmenu[data-enhanced].show .menu a {
    display: block;
    padding: 4px 1em 4px 28px;
    color: #333333;
}
.moodle-actionmenu[data-enhanced].show .menu a > img {
    margin: 4px 4px 4px -24px;
    padding: 4px;
    width: 12px;
    height: 12px;
}
.moodle-actionmenu[data-enhanced].show .menu a:hover {color: #ffffff;background-color: #0088cc;}
.moodle-actionmenu[data-enhanced].show .menu a:first-child {-webkit-border-top-right-radius: 4px;border-top-right-radius: 4px;-webkit-border-top-left-radius: 4px;border-top-left-radius: 4px;-moz-border-radius-topright: 4px;-moz-border-radius-topleft: 4px;}
.moodle-actionmenu[data-enhanced].show .menu a:last-child {-webkit-border-bottom-right-radius: 4px;border-bottom-right-radius: 4px;-webkit-border-bottom-left-radius: 4px;border-bottom-left-radius: 4px;-moz-border-radius-bottomright: 4px;-moz-border-radius-bottomleft: 4px;}
.moodle-actionmenu[data-enhanced].show .menu a.hidden {display: none;}
.moodle-actionmenu[data-enhanced].show .menu img {vertical-align: middle;}
.moodle-actionmenu[data-enhanced].show .menu > li {display: block;}
.block .moodle-actionmenu {text-align: right;}

.dir-rtl .block .moodle-actionmenu {text-align: right;}
.dir-rtl .moodle-actionmenu[data-enhanced].show .menu {text-align: right;right: auto;left: 0;}
.dir-rtl .moodle-actionmenu[data-enhanced].show .menu .iconsmall {margin-right: 0;margin-left: 8px;}

.jsenabled .moodle-actionmenu[data-enhanced] .menu.align-tl-bl {top: 100%;left: 0;margin-top: 4px;}
.jsenabled .moodle-actionmenu[data-enhanced] .menu.align-tr-bl {top: 100%;right: 100%;}
.jsenabled .moodle-actionmenu[data-enhanced] .menu.align-bl-bl {bottom: 100%;left: 0;}
.jsenabled .moodle-actionmenu[data-enhanced] .menu.align-br-bl {right: 100%;bottom: 100%;}
.jsenabled .moodle-actionmenu[data-enhanced] .menu.align-tl-br {top: 100%;left: 100%;}
.jsenabled .moodle-actionmenu[data-enhanced] .menu.align-tr-br {top: 100%;right: 0;margin-top: 4px;}
.jsenabled .moodle-actionmenu[data-enhanced] .menu.align-bl-br {bottom: 100%;left: 100%;}
.jsenabled .moodle-actionmenu[data-enhanced] .menu.align-br-br {right: 0;bottom: 100%;}
.jsenabled .moodle-actionmenu[data-enhanced] .menu.align-tl-tl {top: 0;left: 0;}
.jsenabled .moodle-actionmenu[data-enhanced] .menu.align-tr-tl {top: 0;right: 100%;margin-right: 4px;}
.jsenabled .moodle-actionmenu[data-enhanced] .menu.align-bl-tl {bottom: 100%;left: 0;margin-bottom: 4px;}
.jsenabled .moodle-actionmenu[data-enhanced] .menu.align-br-tl {right: 100%;bottom: 100%;}
.jsenabled .moodle-actionmenu[data-enhanced] .menu.align-tl-tr {top: 0;left: 100%;margin-left: 4px;}
.jsenabled .moodle-actionmenu[data-enhanced] .menu.align-tr-tr {top: 0;right: 0;}
.jsenabled .moodle-actionmenu[data-enhanced] .menu.align-bl-tr {bottom: 100%;left: 100%;}
.jsenabled .moodle-actionmenu[data-enhanced] .menu.align-br-tr {right: 0;bottom: 100%;margin-bottom: 4px;}

.moodle-actionmenu > ul > li[role="menuitem"] {
    display: none;
}

.jsenabled .moodle-actionmenu[data-enhance="moodle-core-actionmenu"] > ul > li[role="menuitem"] {
    display: inline-block;
}

.dir-rtl .menu.align-tl-bl {right: 0;left: auto;}
.dir-rtl .menu.align-tr-bl {right: auto;left: 100%;}
.dir-rtl .menu.align-bl-bl {right: 0;left: auto;}
.dir-rtl .menu.align-br-bl {right: auto;left: 100%;}
.dir-rtl .menu.align-tl-br {right: 100%;left: auto;}
.dir-rtl .menu.align-tr-br {right: auto;left: 0;}
.dir-rtl .menu.align-bl-br {right: 100%;left: auto;}
.dir-rtl .menu.align-br-br {right: auto;left: 0;}
.dir-rtl .menu.align-tl-tl {right: 0;left: auto;}
.dir-rtl .menu.align-tr-tl {right: auto;left: 100%;}
.dir-rtl .menu.align-bl-tl {right: 0;left: auto;}
.dir-rtl .menu.align-br-tl {right: auto;left: 100%;}
.dir-rtl .menu.align-tl-tr {right: 100%;left: auto;}
.dir-rtl .menu.align-tr-tr {right: auto;left: 0;}
.dir-rtl .menu.align-bl-tr {right: 100%;left: auto;}
.dir-rtl .menu.align-br-tr {right: auto;left: 0;}

ul.dragdrop-keyboard-drag li { list-style-type: none; }
.block-control-actions .moodle-core-dragdrop-draghandle img { width: 12px; height: 12px; }

.block .header h2,
.course-content h3,
.pagelayout-frontpage h2,
.pagelayout-frontpage h3,
.pagelayout-frontpage h4,
.pagelayout-frontpage h5,
.pagelayout-frontpage h6,
.pagelayout-coursecategory h3,
.pagelayout-coursecategory h4,
.pagelayout-coursecategory h5,
.pagelayout-coursecategory h6 {
    text-align: inherit;
}
a.disabled:hover,
a.disabled {
    text-decoration: none;
    cursor: default;
    font-style: italic;
    color: #808080;
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: top;
    border-top: 4px solid #777;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    content: "";
}

a:focus .caret,
a:hover .caret {
    border-top-color: #555;
}

/**
 * Bootstrap 2.3.2 progress bar css.
 * Required for none bootstrap theme.
 */

@-webkit-keyframes progress-bar-stripes {
    from {
        background-position: 40px 0;
    }
    to {
        background-position: 0 0;
    }
}

@-moz-keyframes progress-bar-stripes {
    from {
        background-position: 40px 0;
    }
    to {
        background-position: 0 0;
    }
}

@-ms-keyframes progress-bar-stripes {
    from {
        background-position: 40px 0;
    }
    to {
        background-position: 0 0;
    }
}

@-o-keyframes progress-bar-stripes {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 40px 0;
    }
}

@keyframes progress-bar-stripes {
    from {
        background-position: 40px 0;
    }
    to {
        background-position: 0 0;
    }
}

.progress {
    height: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #f7f7f7;
    background-image: -moz-linear-gradient(top, #f5f5f5, #f9f9f9);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#f9f9f9));
    background-image: -webkit-linear-gradient(top, #f5f5f5, #f9f9f9);
    background-image: -o-linear-gradient(top, #f5f5f5, #f9f9f9);
    background-image: linear-gradient(to bottom, #f5f5f5, #f9f9f9);
    background-repeat: repeat-x;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#fff9f9f9', GradientType=0);
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.progress .bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    color: #ffffff;
    text-align: center;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #0e90d2;
    background-image: -moz-linear-gradient(top, #149bdf, #0480be);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#149bdf), to(#0480be));
    background-image: -webkit-linear-gradient(top, #149bdf, #0480be);
    background-image: -o-linear-gradient(top, #149bdf, #0480be);
    background-image: linear-gradient(to bottom, #149bdf, #0480be);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff149bdf', endColorstr='#ff0480be', GradientType=0);
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: width 0.6s ease;
    -moz-transition: width 0.6s ease;
    -o-transition: width 0.6s ease;
    transition: width 0.6s ease;
}

.progress .bar + .bar {
    -webkit-box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.15), inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    -moz-box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.15), inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.15), inset 0 -1px 0 rgba(0, 0, 0, 0.15);
}

.progress-striped .bar {
    background-color: #149bdf;
    background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
    -webkit-background-size: 40px 40px;
    -moz-background-size: 40px 40px;
    -o-background-size: 40px 40px;
    background-size: 40px 40px;
}

.progress.active .bar {
    -webkit-animation: progress-bar-stripes 2s linear infinite;
    -moz-animation: progress-bar-stripes 2s linear infinite;
    -ms-animation: progress-bar-stripes 2s linear infinite;
    -o-animation: progress-bar-stripes 2s linear infinite;
    animation: progress-bar-stripes 2s linear infinite;
}

body.lockscroll {
  height: 100%;
  overflow: hidden;
}
